<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="commonLayout">
<head>
	<meta charset="utf-8" />
</head>
<body>

<!--/* 精算書一覧 */-->
<div th:fragment="statementListSearchFragment(statementListSearchForm)" id="statementListSearchFragment" th:object="${statementListSearchForm}">
	<script type="text/javascript" th:replace="common/mvc/accgDoc/accgDocRegistModal::accgDocRegistModalFragmentJs"></script>
	<script type="text/javascript" th:inline="javascript">
	$(function() {
		
		<!--/* 共有の要素セットアップ処理 */-->
		commonSetUpElement("#statementListSearchFragment");
		
		const statementListSearchFragment = $('#statementListSearchFragment');
		const accgDocRegistModal = statementListSearchFragment.find('#accgDocRegistModal');
		
		<!--/* フィルタクリック */-->
		statementListSearchFragment.on("click", ".filterBtn", function() {
			<!--/* 検索条件表示／非表示フラグの設定と表示変更 */-->
			const searchConditionOpen = $('#searchConditionOpen').val();
			if (searchConditionOpen == "true") {
				$('#searchConditionOpen').val(false);
			} else {
				$('#searchConditionOpen').val(true);
			}
			<!--/* パラメータ */-->
			const formData = $('#statementListSearchForm').serializeArray();
			<!--/* 検索条件表示 */-->
			renderStatementSearchFormFragment(formData);
		});
		
		<!--/* 検索条件クリア処理 */-->
		statementListSearchFragment.on("click", ".cliearBtn", function(e) {
			<!--/* 検索条件クリア */-->
			initStatementSearchCondition();
		});
		
		<!--/* テキスト検索 */-->
		let searchText;
		let inputText;
		<!--/* テキストボックス内のクリア処理 */-->
		statementListSearchFragment.find('.add-clear-span > a').on('click', function() {
			inputText = '';
			
			if ($(this).parent().find('.inputDate').length > 0) {
				<!--/* 日付の入力項目（DatePickerの項目）の場合は、blurでの再検索は行わず、このケースではchangeイベントが発火せず再検索が行われないので、イベントを発火させる */-->
				$(this).parent().find('.inputDate').change();
			}
		});
		
		<!--/* 入力項目フォーカスアウトで検索 */-->
		statementListSearchFragment.find('.filtersContainer input[type="text"]').on('blur', function() {
			if ($(this).hasClass('inputDate')) {
				<!--/* 日付の入力項目（DatePickerの項目）の場合は、blurでの再検索は行わない（changeイベント側で実行されるため） */-->
				return;
			}
			
			if (searchText !== inputText) {
				searchFn();
			}
		});
		
		<!--/* 入力項目のEnterで検索 */-->
		statementListSearchFragment.find('.filtersContainer input[type="text"]').on('keydown', function(e) {
			if (e.keyCode == 13) {
				<!--/* 金額の入力項目の場合は、半角数字以外を除去する） */-->
				if ($(this).hasClass('inputNumHyphen')) {
					<!--/* 全角 ⇒ 半角変換 */-->
					let kingaku = toHalfWidth($(this).val());
					<!--/* フォーカスが外れた後、半角数字と半角ハイフン以外の文字を除去 */-->
					kingaku = kingaku.replace(/[^0-9\-]/g,'');
					<!--/* カンマ区切りに変更 */-->
					searchText = formatComma(kingaku);
					$(this).val(searchText);
				} else {
					searchText = $(this).val();
				}
				searchFn();
			};
			inputText = $(this).val();
		});
		
		<!--/* 日付の変更で検索 */-->
		statementListSearchFragment.find('.filtersContainer .inputDate').on('change', function(e) {
			searchFn();
		});
		
		<!--/* セレクトボックスの変更で検索 */-->
		statementListSearchFragment.find('.filtersContainer select').on('change', function(e) {
			searchFn();
		});
		
		<!--/* 検索処理 */-->
		function searchFn() {
			const optionParam = statementListSearchFragment.find('#statementListSearchForm').serializeArray();
			if (ajaxRunning) {
				return false;
			}
			ajaxRunning = true;
			Promise.resolve()
				.then(() => searchStatementList(optionParam))
				<!--/* 検索処理時に検索条件のForm情報を変更するため、画面上の検索条件は使用せずセッションにあるものを使用する */-->
				.then(() => renderStatementSearchFormFragment())
				.catch((errorObj) => console.log(errorObj))
				.finally(() => ajaxRunning = false);
		};
		
		<!--/* 精算書作成ボタン押下 */-->
		statementListSearchFragment.on("click", ".createAccgDocRegistModal", function() {
			if (ajaxRunning) {
				return false;
			}
			ajaxRunning = true;
			Promise.resolve()
				.then(() => createAccgDocRegistModal())
				.then(() => $("#accgDocRegistModal").modal("show"))
				.catch((errorObj) => console.log(errorObj))
				.finally(() => ajaxRunning = false);
		});
		
		<!--/* 精算書作成モーダルを開く */-->
		function createAccgDocRegistModal() {
			return new Promise((resolve, reject) => {
				$.ajax({
					url : "/common/mvc/accgDocRegist/createAccgDocRegistModal",
					type : "GET",
					dataType: 'html',
				}).done(function(data, status, jqXHR) {
					if (isAjaxProcSuccess(jqXHR)) {
						<!--/* ツールチップを非表示にする */-->
						$('[data-toggle="tooltip"]').tooltip('hide');
						$('.accgDocRegistModalFragmentWrap').html(data);
						return resolve();
					} else {
						<!--/* 処理失敗 */-->
						const errorMsg = getAjaxProcResutlMessage(jqXHR);
						showErrorMessageForJs(errorMsg);
						return reject(errorMsg);
					}
				}).fail(function() {
					showErrorMessageForJs(/*[[#{E00059}]]*/ "データの取得に失敗しました。");
					return reject();
				})
			});
		}
		
		<!--/* 精算書・精算書作成モーダルを開いたとき(関数発行タイミング：表示アニメション終了時) */-->
		accgDocRegistModal.on('shown.bs.modal', function(e){
			<!--/* 入力項目にフォーカスを当てる */-->
			const $input = $('#accgDocRegistModal #customerSearchInput');
			$input.focus();
		});
		
		<!--/* 精算書・精算書作成モーダルを開いたとき(関数発行タイミング：表示アニメション開始時) */-->
		accgDocRegistModal.on('show.bs.modal', function(e){
			
			<!--/* 精算書 */-->
			benzo.global.fragment.accgDocRegistModalFragmentObj.paramObj.modalNameLabel = "精算書";
			
			<!--/* 精算書登録処理をセットアップ */-->
			benzo.global.fragment.accgDocRegistModalFragmentObj.setUpObj.registAction = (e) => {
				// 2重押下防止
				if(ajaxRunning){
					return false;
				}
				
				if(!confirm(/*[[#{confirm.C00001(精算書)}]]*/'')) {
					return false;
				}
				
				const formData = benzo.global.fragment.accgDocRegistModalFragmentObj.paramObj.getFormParams(accgDocRegistModal);
				ajaxRunning = true;
				Promise.resolve(formData)
					.then((params) => {
						return new Promise((resolve, reject) => {
							$.ajax({
								type : "POST",
								url : "/common/mvc/accgDocRegist/registStatement",
								data : formData,
							}).done(function(result, status, jqXHR) {
								if (getAjaxProcResutl(jqXHR) == /*[[${T(jp.loioz.app.common.mvc.accgDocRegist.controller.AccgDocRegistCommonController).HEADER_VALUE_OF_AJAX_PROC_RESULT_ACCG_DOC_REGIST_REDIRECT}]]*/'100') {
									window.location.href = getAjaxProcResutlMessage(jqXHR);
								} else {
									const errorMsg = getAjaxProcResutlMessage(jqXHR);
									showErrorMessage(errorMsg, accgDocRegistModal);
									return reject(errorMsg);
								}
							})
							.fail(function(jqXHR, status, errorThrown) {
								showErrorMessage(/*[[#{E00091}]]*/"error", accgDocRegistModal);
								return reject(jqXHR, status, errorThrown)
							});
						});
					})
					.catch(() => { /*何もしない*/ })
					.finally(() => {
						ajaxRunning = false;
					});
			};
		});
		
	});
	</script>
	
	<!--/* 検索条件 */-->
	<form id="statementListSearchForm" autocomplete="off">
		<!--/* 検索条件の表示／非表示フラグ */-->
		<input type="hidden" th:field="*{searchConditionOpen}">
		
		<!--/* 選択したメニュータイトル */-->
		<div class="page_list_title_block">
			<h1 class="page_list__name">精算書</h1>
			<div class="page_list__btn" th:with="searchConditionCount=*{getSearchConditionCount()}">
				<button type="button" class="btn btn-primary createAccgDocRegistModal" data-toggle="modal" data-target="#statementCreate"><i class="fas fa-plus mr-2"></i>精算書作成</button>
				<button type="button" class="btn btn-light filterBtn" th:classAppend="${searchConditionCount} > 0 ?  'filter_active' ">
					<i class="fas fa-filter"></i>フィルタ
					<span class="btn_inner_badge" th:classAppend="${searchConditionCount} > 0 ?  'badge_warning' "
						th:text="${searchConditionCount}">1</span>
				</button>
			</div>
		</div>
		
		<!--/* 検索条件 */-->
		<div class="list_filters_container filtersContainer" th:classappend="*{SearchConditionOpen ? '' : 'hidden'}">
			<fieldset>
				<div class="list_filters_header">
					<div class="filters_title">検索条件</div>
					<div class="filters_action">
						<a href="javascript:void(0);" class="filters_action__clear cliearBtn">検索条件をクリア</a>
						<a href="javascript:void(0);" class="filters_action__close filterBtn"><i class="fas fa-times"></i></a>
					</div>
				</div>
				<div class="form-row">
					<!--/* キーワード */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">キーワード</label>
						<input type="text" class="form-control digit19 fcAddTextClear" th:field="*{searchWord}" placeholder="名前、案件名、ID" maxlength="300">
					</div>
					<!--/* 精算番号 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">精算番号</label>
						<input type="text" class="form-control digit8 fcAddTextClear" th:field="*{statementNo}" th:maxlength="${(T(jp.loioz.common.constant.AccgConstant).MX_LEN_ACCG_NO)}">
					</div>
					<!--/* 発行状況 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">発行状況</label>
						<select class="form-control digit7" th:with="issueStatus=*{statementIssueStatus}" th:field="*{statementIssueStatus}">
							<option value="">-</option>
							<option th:each="status : ${T(jp.loioz.common.constant.CommonConstant$IssueStatus).values()}"
								th:label="${status.getVal()}" th:text="${status.getVal()}" th:value="${status.getCd()}" th:selected="${status.equalsByCode(issueStatus)}">
							</option>
						</select>
					</div>
					<!--/* 精算ステータス */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">精算状況</label>
						<select class="form-control digit9" th:with="paymentStatus=*{statementRefundStatus}" th:field="*{statementRefundStatus}">
							<option value="">-</option>
							<option th:each="status : ${T(jp.loioz.common.constant.CommonConstant$StatementRefundStatus).values()}"
								th:label="${status.getVal()}" th:text="${status.getVal()}" th:value="${status.getCd()}" th:selected="${status.equalsByCode(paymentStatus)}">
							</option>
						</select>
					</div>
					<!--/* 精算日 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">精算日</label>
						<div class="d-flex align-items-start">
							<div>
								<div class="d-flex statementDateFrom">
									<input type="text" class="form-control digit8 inputDateSlash fcAddTextClear inputDate" maxlength="10"
										th:field="*{statementDateFrom}"
										data-click-sync="[data-target-name='statementDateFrom']">
									<button type="button" class="btn btn_popcal hidden" data-toggle="datepicker" data-target-name="statementDateFrom">カレンダー</button>
									<div class="fs15 mt-2 mx-2">〜</div>
								</div>
							</div>
							<div>
								<div class="statementDateTo">
									<input type="text" class="form-control digit8 inputDateSlash fcAddTextClear inputDate" maxlength="10"
										th:field="*{statementDateTo}"
										data-click-sync="[data-target-name='statementDateTo']">
									<button type="button" class="btn btn_popcal hidden" data-toggle="datepicker" data-target-name="statementDateTo">カレンダー</button>
								</div>
							</div>
						</div>
					</div>
					<!--/* 精算額 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">精算額</label>
						<div class="d-flex align-items-start">
							<div>
								<div class="d-flex statementAmountFrom">
									<input type="text" class="form-control digit9 commaFormat inputNumHyphen fcAddTextClear" maxlength="10"
										th:field="*{statementAmountFrom}">
									<div class="fs15 mt-2 mx-2">〜</div>
								</div>
							</div>
							<div>
								<div class="statementTo">
									<input type="text" class="form-control digit9 commaFormat inputNumHyphen fcAddTextClear" maxlength="10"
										th:field="*{statementAmountTo}">
								</div>
							</div>
						</div>
					</div>
					<!--/* 期日 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">期日</label>
						<div class="d-flex align-items-start">
							<div>
								<div class="d-flex refundDateFrom">
									<input type="text" class="form-control digit8 inputDateSlash fcAddTextClear inputDate" maxlength="10"
										th:field="*{refundDateFrom}"
										data-click-sync="[data-target-name='refundDateFrom']">
									<button type="button" class="btn btn_popcal hidden" data-toggle="datepicker" data-target-name="refundDateFrom">カレンダー</button>
									<div class="fs15 mt-2 mx-2">〜</div>
								</div>
							</div>
							<div>
								<div class="refundDateTo">
									<input type="text" class="form-control digit8 inputDateSlash fcAddTextClear inputDate" maxlength="10"
										th:field="*{refundDateTo}"
										data-click-sync="[data-target-name='refundDateTo']">
									<button type="button" class="btn btn_popcal hidden" data-toggle="datepicker" data-target-name="refundDateTo">カレンダー</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-row">
					<!--/* 売上計上先 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">売上計上先</label>
						<select class="form-control digit9" th:field="*{salesOwner}">
							<option value="">-</option>
							<option th:each="owner : *{salesOwnerList}" th:value="${owner.value}"
								th:text="${owner.label}" th:selected="${owner.value} == *{salesOwner}">
							</option>
						</select>
					</div>
					<!--/* 担当弁護士 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">担当弁護士</label>
						<select class="form-control digit9" th:field="*{tantoLaywer}">
							<option value="">-</option>
							<option th:each="lawyer : *{tantoLawyerList}" th:value="${lawyer.value}"
								th:text="${lawyer.label}" th:selected="${lawyer.value} == *{tantoLaywer}">
							</option>
						</select>
					</div>
					<!--/* 担当事務 */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">担当事務</label>
						<select class="form-control digit9" th:field="*{tantoJimu}">
							<option value="">-</option>
							<option th:each="jimu : *{tantoJimuList}" th:value="${jimu.value}"
								th:text="${jimu.label}" th:selected="${jimu.value} == *{tantoJimu}">
							</option>
						</select>
					</div>
					<!--/* 内部メモ */-->
					<div class="form-group col-md-auto">
						<label class="input_parts_label">内部メモ</label>
						<input type="text" class="form-control digit19 fcAddTextClear" th:field="*{statementMemo}" maxlength="300">
					</div>
				</div>
			</fieldset>
		</div>
		<!--/* 検索条件 end */-->
	</form>
	
	<!--/* 請求書・精算書作成Modal */-->
	<div id="accgDocRegistModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="statementCreateTitle" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered modal_statement_deposit" role="document">
			<div class="modal-content">
				<div class="accgDocRegistModalFragmentWrap"></div>
			</div>
		</div>
	</div>
	<!--/* 請求書・精算書作成Modal end */-->
</div>
<!--/* 【検索条件】 end */-->

<!--/* 一覧データ */-->
<div th:fragment="statementListFragment(statementListViewForm)" id="statementListFragment" th:object="${viewForm}">
	<script type="text/javascript" th:inline="javascript">
	$(function() {
		<!--/* 共有の要素セットアップ処理 */-->
		commonSetUpElement("#statementListFragment");
		
		const statementListFragment = $('#statementListFragment');
		
		<!--/* ソート処理 */-->
		statementListFragment.find('.statementListSort').on('click', function() {
			const asc = /*[[${T(jp.loioz.common.constant.SortConstant$SortOrder).ASC.getCd()}]]*/'';
			const desc = /*[[${T(jp.loioz.common.constant.SortConstant$SortOrder).DESC.getCd()}]]*/'';
			
			const currentSortItem = /*[[${statementListSearchForm.statementListSortItem}]]*/'';
			const currentSortOrder = /*[[${statementListSearchForm.statementListSortOrder}]]*/'';
			let optionParam = [];
			
			const sortKey = $(this).data('sortKey');
			if (sortKey != currentSortItem) {
				optionParam = [
					{name:"statementListSortItem", value:sortKey},
					{name:"statementListSortOrder", value:desc},
				];
			} else {
				if (currentSortOrder === asc) {
					optionParam = [
						{name:"statementListSortOrder", value:desc},
					];
				} 
				
				if (currentSortOrder === desc) {
					optionParam = [
						{name:"statementListSortOrder", value:asc},
					]
				} 
			}
			
			if (ajaxRunning) {
				return false;
			}
			ajaxRunning = true;
			Promise.resolve()
				.then(() => sortStatementList(optionParam))
				.catch((errorObj) => console.log(errorObj))
				.finally(() => ajaxRunning = false);
		});
		
		<!--/* 精算書一覧行をクリック */-->
		statementListFragment.on("click", ".transitionStatementDetail", function(e){
			e.stopPropagation();
			const statementSeq = $(this).data('statementSeq');
			<!--/* 精算書明細画面へ遷移 */-->
			window.location.href = "/user/statementDetail/" + statementSeq + "/";
		});
		
		<!--/* 名簿IDリンクをクリック */-->
		statementListFragment.on("click", ".transitionPerson", function(e){
			e.stopPropagation();
			const personId = $(this).data('personId');
			const url = /*[[@{/user/personManagement/edit/}]]*/'';
			<!--/* 名簿情報画面へ遷移 */-->
			window.location.href = url + personId + '/';
		});

		<!--/* 案件IDリンクをクリック */-->
		statementListFragment.on("click", ".transitionCase", function(e){
			e.stopPropagation();
			const personId = $(this).data('personId');
			const caseId = $(this).data('caseId');
			const url = /*[[@{/user/ankenManagement/edit/}]]*/'';
			<!--/* 案件情報画面へ遷移 */-->
			window.location.href = url + caseId + '/' + personId + '/';
		});
		
		<!--/* 取引実績画面リンクをクリック */-->
		statementListFragment.on("click", ".recordDetailView", function(e){
			e.stopPropagation();
			const accgRecordSeq = $(this).data('accgRecordSeq');
			const url = /*[[@{/user/recordDetail/}]]*/'';
			<!--/* 取引実績画面へ遷移 */-->
			window.location.href = url + accgRecordSeq + '/';
		});
		
	});
	</script>
	
	<!--/* 一覧エリア */-->
	<div id="statementList">
		<div class="header_fixed_table_wrapper table_common_list">
			<!--/* 一覧データ */-->
			<table class="table table_standard table_nowrap table-hover statement_list row_two_td">
				<thead>
					<tr>
						<th class="th_person_id sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).PERSON_ID)}"
							th:data-sort-key="${sortItem.getCd()}">
							名簿ID
							<th:block th:if="${sortItem == statementListSearchForm.statementListSortItem}" th:fragment="statementListColumn">
								<th:block th:if="${statementListSearchForm.statementListSortOrder == T(jp.loioz.common.constant.SortConstant$SortOrder).ASC}">
									<i class="fas fa-chevron-up"></i>
								</th:block>
								<th:block th:if="${statementListSearchForm.statementListSortOrder == T(jp.loioz.common.constant.SortConstant$SortOrder).DESC}">
									<i class="fas fa-chevron-down"></i>
								</th:block>
							</th:block>
						</th>
						<th class="th_person_name sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).PERSON_NAME)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								名前<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="th_case_id sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).ANKEN_ID)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								案件ID<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="th_case_name sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).ANKEN_NAME)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								案件名<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="th_issue_status sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).STATEMENT_ISSUE_STATUS)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								発行状況<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="th_refund_status sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).STATEMENT_REFUND_STATUS)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								精算状況<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="th_statement_date sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).STATEMENT_DATE)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								精算日<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="statement_amount sort_column text-right statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).STATEMENT_AMOUNT)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp d-flex align-items-center justify-content-end">
								<div>
									精算金額
								</div>
								<div class="mnw15" th:insert="::statementListColumn"></div>
							</div>
						</th>
						<th class="th_refund_date sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).REFUND_DATE)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								期日<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="statement_no sort_column statementListSort"
							th:with="sortItem=${(T(jp.loioz.common.constant.SortConstant$StatementListSortItem).STATEMENT_NO)}"
							th:data-sort-key="${sortItem.getCd()}">
							<div class="ws_nowarp">
								精算番号<th:block th:replace="::statementListColumn"></th:block>
							</div>
						</th>
						<th class="th_tanto_laywer">担当弁護士</th>
						<th class="th_memo">内部メモ</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="*{statementList.size() == 0}">
						<tr>
							<td colspan="13" class="no_data"><span th:text="#{I00044('精算書情報')}">該当する精算書情報は見つかりませんでした。</span></td>
						</tr>
					</th:block>
					<tr th:each="statementData : ${statementListViewForm.statementList}" data-click-sync-for-descendants=".transitionStatementDetail">
						<td th:data-person-id="${statementData.personId}">
							<!--/* 名簿IDリンク */-->
							<span class="stop-events">
								<a href="javascript:void(0);" class="transitionStatementDetail hidden"
									th:data-statement-seq="${statementData.statementSeq}"></a>
								<a href="javascript:void(0);" class="main_id transitionPerson" th:data-person-id="${statementData.personId}"
									data-boundary="window" data-container="body" data-toggle="tooltip" data-trigger="hover" title="名簿情報へ"
									th:text="${statementData.personId}">1000</a>
							</span>
						</td>
						<td>
							<!--/* 名前 */-->
							<div class="char_ellipsis mxw150">
								<span th:text="${statementData.name}"></span>
							</div>
						</td>
						<td>
							<!--/* 案件ID */-->
							<span class="stop-events">
								<a href="javascript:void(0);" class="main_id transitionCase" th:data-person-id="${statementData.personId}" th:data-case-id="${statementData.ankenId}"
									data-boundary="window" data-container="body" data-toggle="tooltip" data-trigger="hover" title="案件情報へ"
									th:text="${statementData.ankenId}">1000</a>
							</span>
						</td>
						<td>
							<!--/* 案件名 */-->
							<div class="char_ellipsis mxw200">
								<span th:text="${#strings.isEmpty(statementData.ankenName)} ? '(案件名未入力)' : ${statementData.ankenName}"></span>
							</div>
						</td>
						<td>
							<!--/* 発行状況 */-->
							<span th:class="|issue_status_${statementData.statementIssueStatus}|" >
								<th:block th:if="${T(jp.loioz.common.constant.CommonConstant$IssueStatus).DRAFT.equalsByCode(statementData.statementIssueStatus)}">
									<i class="fas fa-pen-square fa-lg"></i>
								</th:block>
								<span th:text="${statementData.statementIssueStatusName}"></span>
							</span>
						</td>
						<td>
							<!--/* 精算状況 */-->
							<th:block th:switch="${statementData.StatementRefundStatus}">
								<!--/* 発行待ち */-->
								<th:block th:case="${T(jp.loioz.common.constant.CommonConstant$StatementRefundStatus).DRAFT.getCd()}">
									<span th:class="|statement_henkin_status_${statementData.statementRefundStatus} transitionStatementDetail|" 
										th:data-statement-seq="${statementData.statementSeq}" th:text="${statementData.statementRefundStatusName}"></span>
								</th:block>
								<th:block th:case="*">
									<th:block th:switch="${statementData.statementRefundStatus}">
										<span class="stop-events">
											<!--/* 精算済み */-->
											<th:block th:case="${T(jp.loioz.common.constant.CommonConstant$StatementRefundStatus).PAID.getCd()}">
												<i class="fas fa-check-circle text-success"></i>
											</th:block>
											<!--/* 精算待ち */-->
											<th:block th:case="${T(jp.loioz.common.constant.CommonConstant$StatementRefundStatus).AWAITING_STATEMENT.getCd()}">
											</th:block>
											<a href="javascript:void(0);" th:class="|statement_henkin_status_${statementData.statementRefundStatus} recordDetailView|"
												th:data-accg-record-seq="${statementData.accgRecordSeq}"
												data-boundary="window" data-container="body" data-toggle="tooltip" data-trigger="hover" title="取引実績へ"
												th:text="${statementData.statementRefundStatusName}"></a>
										</span>
									</th:block>
								</th:block>
						</td>
						<td>
							<!--/* 精算日 */-->
							<span th:text="${#strings.isEmpty(statementData.getStatementDateFormat())} ? '-' : ${statementData.getStatementDateFormat()}"></span>
						</td>
						<td class="text-right">
							<!--/*精算金額 */-->
							<span class="fs15 fw600 fc_sum_amount" th:text="${#strings.isEmpty(statementData.statementAmount)} ? '-' : ${statementData.statementAmount}"></span>
						</td>
						<td>
							<!--/* 期日 */-->
							<th:block th:switch="${statementData.statementRefundStatus}">
								<!--/* 精算待ち */-->
								<th:block th:case="${T(jp.loioz.common.constant.CommonConstant$StatementRefundStatus).AWAITING_STATEMENT.getCd()}">
									<!--/* 期日前の場合 */-->
									<th:block th:if="${statementData.isOverRefund()} and !${#strings.isEmpty(statementData.getRefundDateFormat())}">
										<i class="far fa-clock"></i>
									</th:block>
									<!--/* 期日を超えた場合 */-->
									<th:block th:unless="${statementData.isOverRefund()}">
										<i class="fas fa-exclamation-circle text-danger"></i>
									</th:block>
								</th:block>
								
							</th:block>
							<span th:text="${#strings.isEmpty(statementData.getRefundDateFormat())} ? '-' : ${statementData.getRefundDateFormat()}"></span>
						</td>
						<td>
							<!--/*精算番号 */-->
							<span th:text="${#strings.isEmpty(statementData.statementNo)} ? '-' : ${statementData.statementNo}"></span>
						</td>
						<!--/* 担当弁護士 */-->
						<td class="cell_fixed_100 char_ellipsis" data-boundary="window" data-container="body" data-toggle="tooltip" data-trigger="hover"
								th:title="${#strings.isEmpty(statementData.tantoLaywerName)} ? '' : ${statementData.tantoLaywerName}"
								th:text="${#strings.isEmpty(statementData.tantoLaywerName)} ? '-' : ${statementData.tantoLaywerName}">
						</td>
						<td>
							<span th:text="${#strings.isEmpty(statementData.statementMemo)} ? '-' : ${statementData.statementMemo}"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<!--/* 一覧エリア end */-->

<!--/* ページングフラグメント */-->
<div th:fragment="statementListPagerFragment(page)" id="statementListPagerFragment">
	
	<!--/* スクリプト */-->
	<script th:inline="javascript">
	$(function(){
		<!--/* 共有の要素セットアップ処理 */-->
		commonSetUpElement("#statementListPagerFragment");
	});
	</script>
	
	<div id="statementListPager" class="list_footer_pager" th:object="${page}">
		<th:block th:if="${page}">
			<div  class="list_footer_pager__no" th:insert="common/pagerAjax::pagerAjax(page=${page}, listFragmentId='statementListPager')"></div>
			<div class="list_footer_pager__data_cnt" th:with="firstPageNumber=${page.getNumber()} * ${page.getSize()} + 1, lastPageNumber=${page.getNumber()} * ${page.getSize()} + ${page.getNumberOfElements()}">
				<span th:if="${lastPageNumber} > 0" th:text="|(${firstPageNumber} - ${lastPageNumber}/${page.getTotalElements()})|"></span>
			</div>
		</th:block>
	</div>
	
</div>
<!--/* ページングフラグメント end */-->

<!--/* 一覧フッターのフラグメント */-->
<div th:fragment="statementListAndPagerWraperFragment(viewForm)" id="statementListAndPagerWraperFragment">
	<!--/* 一覧結果 */-->
	<div id="statementListViewFragmentWrap"
		th:insert="user/statementList/statementListFragment::statementListFragment(${viewForm})"></div>
	<!--/* ページング */-->
	<div id="statementListPagerWrap"
		th:insert="user/statementList/statementListFragment::statementListPagerFragment(${viewForm.page})"></div>
</div>

	
</body>
</html>