<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="notLoginCommonLayout">
<head>
<meta charset="utf-8" th:remove="tag" />
<title>
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("プライバシーポリシー", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
</head>
<body class="text-center">
	<div layout:fragment="main-contents">
		<!--/**
		■ 使い方 (実装例は、accountRegist.htmlに記載)
		1. 呼び出したいHTMLに「<div th:replace="common/static/policy::policyModal"></div>」を埋め込む。
		2. モーダルを呼び出すアクション発火元要素に「data-toggle="modal"」と「data-target="#policyModal"」を付与する。
			 → JSの場合、「$("#policyModal").modal("show");」
		 */-->

		<!--  /** プライバシーポリシーモーダル */ -->
		<th:block th:fragment="policyModal">
			<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog modal-dialog-centered modal_terms" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="d-flex mt-3 mb-2 justify-content-between">
								<div class="h2 text-light mb-0 mx-auto">プライバシーポリシー</div>
								<a class="h3 text-light d-block cursor_pointer" data-dismiss="modal">
									<i class="far fa-times-circle mr-0 fa-lg"></i>
								</a>
							</div>
						</div>
						<div class="modal-body">
							<div class="modalbody_terms mx-4 mb-4 tremsList">
								<div class="mb-3 mt-3">
									<p>
									株式会社ロイオズ（以下「当社」といいます。）は、当社利用規約（以下「当社規約」といいます。）に定める「loioz」（以下
									「本サービス」といいます。）における、利用者についての個人情報を含む利用者情報の取扱いについて、
									以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。
									</p>
								</div>
								<ul class="">
									<li class="non_count">
										<label class="">1．利用者情報の定義</label>
										<p>本ポリシーにおいて、「利用者情報」とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関
										する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報
										と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）もしくは個人識別符
										号が含まれる情報（以下、単に「個人情報」といいます。）の他、当社規約に定める登録事項の他本サービスの利用にあたり利用
										者が登録・送受信されたデータ（以下「登録データ等」といいます。）から知り得た情報であって、本ポリシーに基づき当社が収
										集するものを意味するものとします。
										</p>
									</li>
									<li class="non_count">
										<label class="">2．当社が収集する利用者情報及び収集方法</label>
										<p>
										本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。
										</p>
										<div class="font-weight-bold">（1）利用者からご提供いただく情報</div>
										<p>
										本サービスを利用するために、または本サービスの利用を通じて利用者からご提供いただく情報は以下のとおりです。
										</p>
										<ul>
										 	<li>氏名、事務所名等利用者識別に関する情報</li>
										 	<li>メールアドレス、電話番号、FAX番号、住所等連絡先に関する情報</li>
										 	<li>クレジットカード情報等決済手段に関する情報</li>
										 	<li>入力フォームその他当社が定める方法を通じて利用者が入力または送信する情報</li>
										</ul>
										<div class="font-weight-bold">
										（2）利用者が本サービスの利用において、他のサービスとの連携を許可することにより、当該他のサービスからご提供いただく情報
										</div>

										<p>
										利用者が、本サービスを利用するにあたり、ソーシャルネットワーキングサービス等の他のサービスとの連携を許可した場合には、
										その許可の際にご同意いただいた内容に基づき、以下の情報を当該外部サービスから収集します。
										</p>
										<ul>
										 	<li>当該外部サービスで利用者が利用するID</li>
										 	<li>その他当該外部サービスのプライバシー設定により利用者が連携先に開示を認めた情報</li>
										</ul>
										<div class="font-weight-bold">
											（3）利用者が本サービスを利用するにあたって、当社が収集する情報
										</div>
										<p>
										当社は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。
										これには以下の情報が含まれます。
										</p>
										<ul>
										 	<li>リファラ、IPアドレス、サーバーアクセスログその他これに類する情報</li>
										 	<li>Cookieその他の識別子</li>
										</ul>
									</li>
									<li class="non_count">
										<label class="">3.利用中止要請の方法</label>
										<p>
										　利用者は、本サービスの所定の設定を行うことにより、利用者情報の全部または一部についてその収集又は利用の停止を求める
										ことができ、この場合、当社は速やかに、当社の定めるところに従い、その利用を停止します。なお、利用者情報の項目によって
										は、その収集または利用が本サービスの前提となるため、当社所定の方法により本サービスを退会した場合に限り、当社はその収
										集又は利用を停止します。
										</p>
									</li>
									<li class="non_count">
										<label class="">4.利用者情報の利用目的</label>
										<ol>
											<li class="non_count">本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。</li>
										</ol>
										<ol>
											<li class="non_count">（1）<span>本サービスに関する登録の受付、本人確認、利用者認証、利用者設定の記録、利用料金の決済計算等本サービスの提供、維持、保護のため</span></li>
											<li class="non_count">（2）<span>利用者のトラフィック測定及び行動測定のため</span></li>
											<li class="non_count">（3）<span>本サービスに関するご案内、お問い合わせ等への対応のため</span></li>
											<li class="non_count">（4）<span>本サービスの商品等のご案内のため</span></li>
											<li class="non_count">（5）<span>本サービスの改善、新サービスの開発等に役立てるため</span></li>
											<li class="non_count">（6）<span>本サービスに関する当社の利用規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため</span></li>
											<li class="non_count">（7）<span>本サービスに関する規約等の変更などを通知するため</span></li>
											<li class="non_count">（8）<span>その他上記利用目的に付随する目的のため</span></li>
										</ol>
									</li>
									<li class="non_count">
										<label class="">5.利用者情報の利用目的の変更</label>
										<p>
										当社は、利用者情報の利用目的を、関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には
										利用者に通知又は公表します。
										</p>
									</li>
									<li class="non_count">
										<label class="">6.利用者情報利用の制限</label>
										<p>
										当社は、個人情報保護法その他の法令により許容される場合を除き、利用者の同意を得ず、利用目的の達成に必要な範囲を超えて
										利用者情報を取り扱いません。但し、次の場合はこの限りではありません。
										</p>
										<ol>
											<li class="non_count">（1）<span>法令に基づく場合</span></li>
											<li class="non_count">（2）<span>人の生命、身体又は財産の保護のために必要がある場合であって、利用者の同意を得ることが困難であるとき</span></li>
											<li class="non_count">（3）<span>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、利用者の同意を得ることが困難であるとき</span></li>
											<li class="non_count">（4）<span>国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で
											あって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</span></li>
										</ol>
									</li>
									<li class="non_count">
										<label class="">7.利用者情報の適正な取得</label>
										<p>当社は、利用者情報を適正に取得し、偽りその他不正の手段により取得しません。</p>
									</li>
									<li class="non_count">
										<label class="">8. 利用者情報の安全管理</label>
										<p>
										当社は、利用者情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、利用者情報の安全管理が図られるよう、当社の従業員
										に対し、必要かつ適切な監督を行います。また、当社は、利用者情報の取扱いの全部又は一部を委託する場合は、委託先において
										利用者情報の安全管理が図られるよう、必要かつ適切な監督を行います。
										</p>
									</li>
									<li class="non_count">
										<label class="">9.第三者提供</label>
										<p>
										当社は、利用者情報のうち、個人情報については、あらかじめ利用者の同意を得ないで、第三者（日本国外にある者を含みます。）に提供しません。
										但し、次に掲げる必要があり第三者（日本国外にある者を含みます。）
										に提供する場合はこの限りではありません。
										</p>
										<ol>
											<li class="non_count">（1）<span>当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</span></li>
											<li class="non_count">（2）<span>合併その他の事由による事業の承継に伴って個人情報が提供される場合</span></li>
											<li class="non_count">（3）<span>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
											であって、利用者の同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合</span></li>
											<li class="non_count">（4）<span>その他、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の法令で認められる場合</span></li>
										</ol>
									</li>
									<li class="non_count">
										<label class="">10. 個人情報の開示</label>
										<p>
										当社は、利用者から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、利用者ご本人からのご請求であること
										を確認の上で、利用者に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但
										し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。
										</p>
									</li>
									<li class="non_count">
										<label class="">11. 個人情報の訂正及び利用停止等</label>
										<p>
										（1）当社は、利用者から、個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場
											合、あらかじめ公表された利用目的の範囲を超えて取扱われているという理由または偽りその他不正の手段により収集されたもの
											であるという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合には、利用者ご本人からのご請求であ
											ることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正または利用停止を行い、その旨を利用
											者に通知します。なお、訂正または利用停止を行わない旨の決定をしたときは、利用者に対しその旨を通知いたします。
										</p>
										<p>
										（2）当社は、利用者から、利用者の個人情報について消去を求められた場合、当社が当該請求に応じる必要があると判断した場合
											は、利用者ご本人からのご請求であることを確認の上で、個人情報の消去を行い、その旨を利用者に通知します。
										</p>
										<p>
										（3）個人情報保護法その他の法令により、当社が訂正等または利用停止等の義務を負わない場合は、本条第1項及び2項の規定は適用されません。
										</p>
									</li>
									<li class="non_count">
										<label class="">12. プライバシーポリシーの変更手続</label>
										<p>
										当社は、必要に応じて、本ポリシーを変更します。但し、法令上利用者の同意が必要となるような本ポリシーの変更を行う場合、
										変更後の本ポリシーは、当社所定の方法で変更に同意した利用者に対してのみ適用されるものとします。なお、当社は、本ポリシ
										ーを変更する場合には、変更後の本ポリシーの施行時期及び内容を当社のウェブサイト上での表示その他の適切な方法により周知
										し、または利用者に通知します。
										</p>
									</li>
								</ul>
								<div class="">
									<div class="text-right">以上</div>
									<div class="mt-2">制定日：2020年06月30日</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  モーダルで使用するStyle  -->
			<th:block th:with="version=${@environment.getProperty('app.version')}">
				<link th:href="@{/css/terms.css?{ver}(ver=${version})}" rel="stylesheet" type="text/css"/>
			</th:block>

			<!--  モーダルで使用するScript  -->
			<script type="text/javascript">
			$(function(){
				$("#policyModal").on("show.bs.modal",function(){
					let modal = $("#policyModal");
					modal.find(".modalbody_terms").animate({scrollTop: 0}, "1");
				});
			});
			</script>
		</th:block>
		<!--  /** 利用規約モーダル */ -->
	</div>
</body>
</html>