<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="notLoginCommonLayout">
<head>
<meta charset="utf-8" th:remove="tag" />
<title>
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("利用規約", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
</head>
<body class="text-center">
	<div layout:fragment="main-contents">
		<!--/**
		■ 使い方 (実装例は、accountRegist.htmlに記載)
		1. 呼び出したいHTMLに「<div th:replace="common/static/terms::termsModal"></div>」を埋め込む。
		2. モーダルを呼び出すアクション発火元要素に「data-toggle="modal"」と「data-target="#termsModal"」を付与する。
			 → JSの場合、「$("#termsModal").modal("show");」
		 */-->

		<!--  /** 利用規約モーダル */ -->
		<th:block th:fragment="termsModal">
			<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog modal-dialog-centered modal_terms" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="d-flex mt-3 mb-2 justify-content-between">
								<div class="h2 text-light mb-0 mx-auto">利用規約</div>
								<a class="h3 text-light d-block cursor_pointer" data-dismiss="modal">
									<i class="far fa-times-circle mr-0 fa-lg"></i>
								</a>
							</div>
						</div>
						<div class="modal-body">
							<div class="modalbody_terms mx-4 mb-4 tremsList">
								<div class="mb-3 mt-3">
									<h3 class="mb-3">本サービスを利用する前に必ずお読みください。</h3>
									<p>
									この規約（以下、「本規約」といいます。）は、株式会社ロイオズ（以下、「当社」といいます。）が提供する「loioz」（以下、「本サービス」といいます。）を利用（無償利用期間の利用を含みます。）する全ての利用者に適用されるものです。
									本サービスの利用者は、本サービスの利用申込みを行い、本サービスの利用開始通知を受領した時点で、本規約の内容に同意したものとし、本規約に基づく契約（以下、「本サービス提供契約」といいます。）が成立したものとみなします。
									</p>
								</div>
								<ul class="">
									<li class="">
										<label>第1条 本規約の適用</label>
										<ol>
											<li>当社は、本規約に基づき、本サービスを提供するものとします。</li>
											<li>本規約と個別の利用規定の内容が異なるときは、個別の利用規定が本規約に優先して適用されるものとします。</li>
										</ol>
									</li>
									<li class="">
										<label>第2条 本サービスの利用許諾</label>
										<ol>
											<li>当社は、利用者に対し、利用期間中（無償利用期間を除きます）、利用者が利用料金を支払うことを条件に、本サービスの利用を許諾します。</li>
										</ol>
									</li>
									<li class="">
										<label>第3条 利用申込み</label>
										<ol>
											<li>利用者は、本規約を遵守することに同意し、かつ当社の定める一定の情報（以下「登録事項」といいます。）を、当社の定める方法で当社に提供することにより、当社に対し、本サービスの利用を申し込むことができます。</li>
											<li>当社は、当社の基準に従って、第１項に基づいて登録申込みを行った登録申込者の登録の可否を判断し、当社が登録および本サービスの利用開始を認める場合には、登録申込者に対して、本サービスの利用開始通知を登録申請者に通知します。</li>
											<li>前項に定める通知の受領時に、本サービス提供契約が登録申込者と当社との間に成立します。本規約により解約されるまでは本サービス提供契約が継続するものとし、成立以降解約までの間、登録申込者は利用者として本サービスを本規約に従い、利用することができるようになります。</li>
											<li>当社は、登録申込者が、以下の各号のいずれかの事由に該当する場合は、登録および再登録を事前または事後に拒否することがあり、またその理由について一切開示義務を負いません。</li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>当社に提供した登録事項の全部または一部につき虚偽、誤記または記載漏れがあった場合</span></li>
													<li class="non_count">（2）<span>未成年者、成年被後見人、被保佐人または被補助人のいずれかであり、法定代理人、後見人、保佐人または補助人の同意等を得ていなかった場合</span></li>
													<li class="non_count">（3）<span>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等、反社会的勢力等との何らかの交流もしくは関与を行っていると当社が判断した場合</span></li>
													<li class="non_count">（4）<span>過去、当社との契約に違反した者、またはその関係者であると当社が判断した場合</span></li>
													<li class="non_count">（5）<span>当社の同業及び類似する事業を行う者、またそれらと法律上及び事実上関連性を有する者、並びに本サービスを本サービス利用以外の目的で利用しようする者と当社が判断した場合</span></li>
													<li class="non_count">（6）<span>第12条に定める措置を受けたことがある場合</span></li>
													<li class="non_count">（7）<span>その他、登録を適当でないと当社が判断した場合</span></li>
												</ol>
											</li>
										</ol>
									</li>
									<li class="">
										<label>第4条 登録事項の変更</label>
										<ol>
											<li>利用者は、登録事項に変更が生じた場合には、当社の定める方法により、当該変更事項を遅滞なく当社に通知するものとします。</li>
										</ol>
									</li>
									<li class="">
										<label>第5条 サービスアカウント等</label>
										<ol>
											<li>サービスアカウント等とは、本サービスにログインするためのＩＤおよびパスワード（以下、合わせて「ユーザーアカウント」といいます。）その他利用者が本サービスにアクセスする際に必要となる情報をいいます。</li>
											<li>当社から発行されたユーザーアカウントは、利用者自身で責任をもって管理し、当社の事前の許諾なく、利用者以外の第三者に対して開示しないものとする。</li>
										</ol>
									</li>
									<li class="">
										<label>第6条 本規約の変更</label>
										<ol>
											<li>
											当社は、当社が必要と認めた場合には、本規約に定めた内容（利用料金含む）を、随時変更できるものとし、変更後は、変更後の内容が本規約として適用されます。
											本規約を変更する場合、変更後の本規約の施行時期および変更後の内容を当社の定める方法により周知し、または利用者に通知するものとします。
											但し、法令上利用者の事前の同意が必要となるような内容の変更の場合には、当社の定める方法により利用者の同意を得るものとします。</li>
											<li>前項但し書きの場合において、当該変更事項に同意しない利用者は、当該変更後の本規約が施行されるまでの間に、解約手続をとるものとします。</li>
										</ol>
									</li>
									<li class="">
										<label>第7条 提供する本サービスの変更</label>
										<ol>
											<li>当社は、本サービスの機能改善を行うため、本サービスで稼働する機能の修正、追加、削除等機能の変更を行うことができるものとします。</li>
											<li>当社は、前項に定める機能の変更作業に伴う更新作業の為、本サービスのシステム全体、または機能の一部を停止、削除することができます。</li>
										</ol>
									</li>
									<li class="">
										<label>第8条 プライバシー保護について</label>
										<ol>
											<li>当社は、登録事項その他本サービスの利用にあたり利用者が登録・送受信されたデータ（以下「登録データ等」といいます。）から知り得た情報（以下「利用者情報」といいます。）を安全に管理、保護します。</li>
											<li>当社は、利用者情報を、当社が別途定める個人情報保護方針に従って取り扱うものとし、利用者は、当社がこの個人情報保護方針に従った利用者情報の取扱いについて同意するものとします。</li>
											<li>利用者の責めに帰すべき事由に起因して登録データ等が削除、破損、紛失または流出した場合には、当社は一切責任を負いません。</li>
											<li>
											第１４条８項による本サービス提供契約の解約、または有償利用の申し込み後に本サービス提供契約を解約したことにより本サービス提供契約が終了した場合、
											その終了後３０日が経過した時点で、当社は、本サービス提供契約中に利用者から取得した全ての情報を、当社の判断で削除することができるものとし、
											利用者はその措置について何らの異議を述べず、また削除により利用者に損害が発生した場合にも当社はその責めを一切負いません。</li>
										</ol>
									</li>
									<li class="">
										<label>第9条 著作権の保護</label>
										<ol>
											<li>
											本サービスの実施環境を構成するすべてのプログラム、ソフトウェア、サービス、手続、文書、図面、ドキュメント、商標、商号等に関する所有権、著作権をはじめとするその他一切の知的財産権は、
											当社に帰属しており、著作権法その他の法律で保護されています。したがって、利用者はこれらを他の著作物と同様に扱わなければなりません。
											なお、本サービスからアクセスされ表示・利用される各コンテンツについての知的財産権は、各情報コンテンツ提供会社の財産であり、著作権法およびその他の知的財産権に関する法律ならびに条約によって保護されています。</li>
										</ol>
									</li>
									<li class="">
										<label>第10条	損害賠償の範囲</label>
										<ol>
											<li>
											本サービスの利用に関して、当社が利用者に対して負う損害賠賠償責任の範囲は、当社の責めに帰すべき事由、または当社が本規約に反したことにより利用者に直接かつ現実に発生した通常の損害に限定されるものとします。</li>
										</ol>
									</li>
									<li class="">
										<label>第11条	免責事項</label>
										<ol>
											<li>
											当社が本サービスに関して利用者に対して負う損害賠償責任の範囲は、理由の如何を問わず前条に規定される範囲に限られるものとします。
											また、当社は、以下の事由により利用者に発生した損害については、理由の如何を問わず賠償の責任自体を負わないものとします。</li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>天変地異、感染症の流行、騒乱、暴動等の不可抗力</span></li>
													<li class="non_count">（2）<span>利用者設備（本サービスの提供をうけるために利用者が設置するコンピュータ、電気通信設備その他の機器およびソフトウェア、以下同じ）の障害または本サービス用設備（本サービス提供のために当社が設置するコンピュータ、電気通信設備その他の機器およびソフトウェア、以下同じ）までのインターネット接続サービスの不具合等利用者の接続環境の障害</span></li>
													<li class="non_count">（3）<span>本サービス用設備からの応答時間等インターネット接続サービスの性能値に起因する障害</span></li>
													<li class="non_count">（4）<span>当社が第三者から導入しているコンピュータウィルス対策ソフトについて、当該第三者からウィルスパターン、ウィルス定義ファイル等を提供されていない種類のコンピュータウィルスの本サービス利用設備への侵入</span></li>
													<li class="non_count">（5）<span>善良なる管理者の注意をもってしても防御し得ない本サービス用設備への第三者による不正アクセスまたはアタック、通信経路上での傍受</span></li>
													<li class="non_count">（6）<span>当社が定める手順、セキュリティ手段等を利用者が遵守しないことに起因して発生した障害</span></li>
													<li class="non_count">（7）<span>本サービス用設備のうち、当社の製造にかからないソフトウェア（ＯＳ、ミドルウェア、ＤＢＭＳ）およびデータベースに起因して発生した障害</span></li>
													<li class="non_count">（8）<span>本サービス用設備のうち、当社の製造にかからないハードウェアに起因して発生した障害</span></li>
													<li class="non_count">（9）<span>電気通信事業者の提供する電気通信役務の不具合に起因して発生した障害</span></li>
													<li class="non_count">（10）<span>刑事訴訟法第２１８条（令状による差押え・捜索・検証）、犯罪捜査のための通信傍受に関する法律の定めに基づく強制の処分その他法令若しくは裁判所の命令に基づく強制的な処分</span></li>
													<li class="non_count">（11）<span>当社の責めに帰すべからざる事由による納品物の搬送途中での損壊、紛失等の事故</span></li>
													<li class="non_count">（12）<span>当社からの委託先の業務に関し、委託先の選任、監督につき当社に過失等の帰責事由がない場合</span></li>
													<li class="non_count">（13）<span>その他当社の責めに帰すべからざる事由</span></li>
												</ol>
											</li>
											<li>
											当社は、前項各号の他、第７条２項に定める更新作業に伴う本サービスのシステム全体、または機能の一部の停止及び、第１５条１項による保守点検に伴う本サービスのシステム全体または機能の一部の停止、
											ならびに第１５条２項による本サービスのシステム全体または機能の一部の停止により、利用者に生じたいかなる損害についても理由の如何を問わず賠償の責任を負いません。</li>
										</ol>
									</li>
									<li class="">
										<label>第12条	禁止事項</label>
										<ol>
											<li>利用者は本サービスまたはサービスアカウント等の利用にあたり､以下の行為を行なってはいけません｡</li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>別途当社が承諾した場合を除き、利用者以外の第三者に対して、本サービスを利用する権利を許諾したり与えたりすること</span></li>
													<li class="non_count">（2）<span>サービスアカウント等の利用者以外の第三者への複製、頒布、貸与、送信、リースおよび担保設定</span></li>
													<li class="non_count">（3）<span>テンプレートプログラムを自己使用の範囲を超えて複製、改変、頒布、公衆送信および送信可能な状態にする行為 </span></li>
													<li class="non_count">（4）<span>本サービスに関連するドキュメントやプログラムの修正、翻訳、変更、改造、解析</span></li>
													<li class="non_count">（5）<span>当社の許諾なく本サービスからの派生サービスを作成し配布する行為</span></li>
													<li class="non_count">（6）<span>当社、提携先、他の利用者、または第三者の知的財産権等を侵害する行為</span></li>
													<li class="non_count">（7）<span>当社、提携先、他の利用者、または第三者の財産・信用・名誉等を毀損する行為およびプライバシーに関する権利、肖像権その他の権利を侵害する行為</span></li>
													<li class="non_count">（8）<span>当社および第三者に不利益もしくは損害を与える行為､またはそのおそれのある行為</span></li>
													<li class="non_count">（9）<span>公序良俗に反する行為</span></li>
													<li class="non_count">（10）<span>法令に違反する行為や犯罪行為､それらを幇助する行為､またはそのおそれのある行為</span></li>
													<li class="non_count">（11）<span>当社、提携先、他の利用者、または第三者のサイトを装ったフィッシング行為</span></li>
													<li class="non_count">（12）<span>有害プログラムを含んだ情報やデータを登録、提供する行為</span></li>
													<li class="non_count">（13）<span>本サービスに含まれる通信機能を利用して大量に情報を送付する行為、無差別に不特定の者に対してその意思に反し電子メール等を送信する行為､または事前に承認していない送信先に対して電子メールを配信する等の行為</span></li>
													<li class="non_count">（14）<span>本サービスおよび当社が提供する全てのサービスの運営を妨げる行為､またはそのおそれのある行為</span></li>
													<li class="non_count">（15）<span>本サービスおよび当社が提供する全てのサービスの信用・名誉等を毀損する行為またはそのおそれのある行為</span></li>
													<li class="non_count">（16）<span>その他､当社が不適切と判断する行為</span></li>
												</ol>
											</li>
											<li>
											当社は、利用者による本サービスまたはサービスアカウント等の利用が、前項各号のいずれかに該当する場合には、本サービスの提供またはサービスアカウント等の利用の停止、本サービス提供契約の解除その他当社が必要と認める措置をとることができるものとします。
											なお、サービスアカウント等の利用停止に伴い、当社が必要と認める場合には、代替アカウント等を発行するものとします。</li>
											<li>前項の停止措置をとったことにより発生した直接的、間接的、その他すべての損害について、当社は一切責任を負いません。</li>
										</ol>
									</li>
									<li class="">
										<label>第13条	委託</label>
										<ol>
											<li>当社は、本サービスの提供に関する業務の全部および一部を、利用者の承諾なしに第三者に委託することができます。その場合、当社は責任をもって委託先を選任、監督します。</li>
										</ol>
									</li>
									<li class="">
										<label>第14条	利用料金および有償利用申込</label>
										<ol>
											<li>利用者は、本サービスを利用するにあたり、本サービスを利用するアカウントに適用するライセンスにかかる料金（以下、「ライセンス料」といいます。）及び、ファイルを保存しておくためのストレージ料にかかる料金（以下、「ストレージ料」といいます。以下、「ライセンス料」と「ストレージ料」を合わせて、「利用料金」といいます。）を支払うものとします。</li>
											<li>
												ライセンス料は、ライセンスのプランに応じて異なるものとし、以下の通りとします。ただし、当社は、今後プランを追加または変更することができるものとします。なお、本サービスにおける各プランの内容については、当社HP等において別途周知するものとします。<br>
												①スタンダードプラン　１アカウントあたり月額3,980円（税抜）<br>
												②スタータープラン　　１アカウントあたり月額1,480円（税抜）
											</li>
											<li>ストレージ料は、本サービス提供契約を締結した本サービスごとに15ギガバイトまでは無料とし、100ギガバイトに拡張する場合は月額500円（税抜）、300ギガバイトに拡張する場合には月額1,200円（税抜）、500ギガバイトに拡張する場合には月額1,800円（税抜）とし、500ギガバイト以上の拡張を希望する場合には、別途ご相談となります。なお、データ容量の基準は、実際の保存しているファイルのデータ容量ではなく、設定したストレージ量を基準とします。</li>
											<li>プラン、ライセンス数またはストレージ量を変更した場合、変更した当月の利用料金は、変更を行った日を境として日割り計算とします。なお、プラン、ライセンス数またはストレージ量の変更の回数については、当社の指定する範囲内において可能なものとします。</li>
											<li>本サービス利用にあたり、通信事業者に対して発生する通信費、パケット料金その他発生する通信関係費用等については、利用料金には含まれず、利用者自身の負担となります。</li>
											<li>利用料金は、１か月単位で発生し、当月末締めでカード決済され、翌月16日に決済代行会社から当社へ支払われるものとします。</li>
											<li>前項の規定にかかわらず、利用者による第３条の申し込みが初回の場合に限り、利用開始日を含む14 日間は、無償利用期間として利用料金が発生しないものとします。</li>
											<li>前項の無償利用期間中に利用者が有償利用の申し込みを行わない場合、本サービス提供契約は、無償利用期間の終了をもって解約されるものとします。</li>
											<li>有償利用のお申し込み後に利用者が本サービス提供契約の解約申し込みをした場合、当月末をもって本サービス提供契約は解約され、以後本サービスへのログインはできなくなります。</li>
											<li>当社は、随時、本条２項及び３項規定の利用料金を変更することができるものとします。</li>
											<li>利用者が、本条第６項に定める決済時期までに決済を行わないときは、当社は、あらかじめその理由および提供停止日を通知した上で本サービスの提供を停止し、または本サービス提供契約を解除することができるものとします。</li>
											<li>前項の場合、利用者との間で別途合意がない限り、当社は、既に支払われた利用料金の返金等は一切行いません。</li>
										</ol>
									</li>
									<li class="">
										<label>第15条	品質保証</label>
										<ol>
											<li>品質保証については、以下の通りとします。</li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>本サービスの提供時間帯は、原則として年間365日、1日0時から24時とします。但し、毎日、保守点検（第22条2項のデータバックアップを含む）を3時から6時までの間、20分程度行うものとします。</span></li>
													<li class="non_count">（2）<span>前項但し書きの場合以外の定期的な保守点検の為に、止むを得ず本サービスを停止する場合には、本サービス停止の14日前までに当社の定める方法により利用者に対して通知するとともに、当社が運営・管理する“ウェブサイト“の適宜の場所に掲示します。</span></li>
													<li class="non_count">（3）<span>利用者は、本サービスを利用する際に必要となる端末設備の設定および使用環境条件について、当社の定める推奨環境に適合するように維持するものとします。</span></li>
												</ol>
											</li>
											<li>当社は、以下の事由が生じた場合には、利用者の同意を得ることなく、本サービスを停止する場合があります。</li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>本サービスを維持、提供するために必要となる当社設備のメンテナンス、また、やむを得ない障害が発生した場合</span></li>
													<li class="non_count">（2）<span>本サービスに著しい負荷や障害が発生し、正常なサービス提供が困難である場合、または困難であると当社が判断した場合</span></li>
													<li class="non_count">（3）<span>データの改ざん、ハッキング等、本サービスを提供することにより、利用者、第三者等が著しい損害を受ける可能性があると当社が判断した場合</span></li>
													<li class="non_count">（4）<span>火災、停電等により本サービスの提供が不可能となった場合</span></li>
													<li class="non_count">（5）<span>地震、噴火、洪水、津波等の自然災害により本サービスの提供が不可能となった場合</span></li>
													<li class="non_count">（6）<span>その他、当社が本サービスの提供を停止、緊急停止する必要があると判断した場</span></li>
												</ol>
											</li>
										</ol>
									</li>
									<li class="">
										<label>第16条	個人情報等</label>
										<ol>
											<li>当社は、本サービスの提供を通じて利用者または第三者から取得した個人情報（以下、個人情報の保護に関する法律に定める「個人情報」をいいます。）を、当社が別途定める個人情報保護方針に従って取り扱うものとし、利用者は、当社がこの個人情報保護方針に従った利用者情報の取扱いについて同意するものとします。</li>
											<li>本条の規定は、本サービス終了後も有効に存続するものとします。</li>
										</ol>
									</li>
									<li class="">
										<label>第17条	契約解除</label>
										<ol>
											<li>当社は、利用者が以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、本サービスの利用を一時的に停止し、または本サービス提供契約を即時に解除することができ、またその理由について一切開示義務を負い負いません。 </li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>利用者が本規約の条項に違反した場合</span></li>
													<li class="non_count">（2）<span>登録事項に不実虚偽の記載があった場合</span></li>
													<li class="non_count">（3）<span>利用者が支払停止もしくは支払不能となり、または破産手続開始、会社更正手続開始、民事再生手続開始、特別清算手続開始若しくはこれらに類する手続の開始の申立てがあった場合</span></li>
													<li class="non_count">（4）<span>仮差押、仮処分、強制執行､競売等の申立､仮登記担保契約に関する法律第2条に定める通知、手形交換所の取引停止処分もしくは租税公課の滞納その他滞納処分を受けた場合、またはこれらの申立、処分、通知を受けるべき事由を生じた場合</span></li>
													<li class="non_count">（5）<span>当社からの問い合わせその他の回答を求める連絡に対して、３０日間以上応答がない場合</span></li>
													<li class="non_count">（6）<span>第３条４項各号に該当する場合</span></li>
													<li class="non_count">（7）<span>その他、当社が本サービスの利用の継続を適当でないと判断した場合</span></li>
												</ol>
											</li>
											<li>本サービス提供契約が解除された場合、利用者が利用していたサービスアカウント等については、解除以降一切利用することはできません。また、本サービスの利用にあたり登録されたデータ、ファイル、その他一切の情報についても、解除以降一切の利用、閲覧等を行なうことはできません。</li>
										</ol>
									</li>
									<li class="">
										<label>第18条	反社会的勢力との関係を理由とする解除</label>
										<ol>
											<li>利用者および当社は、相手方に対し、自己または自己の役員もしくは自己の従業員が、現時点において、暴力団、暴力団員、暴力団員でなくなったときから5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標榜ゴロまたは特殊知能暴力集団等、その他これらに準ずる者（以下これらを「暴力団員等」といいます。）に該当しないこと、および次の各号のいずれにも該当しないことを保証し、かつ将来にわたっても該当しないことを確約するものとします。</li>
											<li class="non_count">
												<ol>
													<li class="non_count">①<span>暴力団員等が経営を支配していると認められる関係を有すること</span></li>
													<li class="non_count">②<span>暴力団員等が経営に実質的に関与していると認められる関係を有すること</span></li>
													<li class="non_count">③<span>自己または第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有すること </span></li>
													<li class="non_count">④<span>暴力団員等に対して資金等を提供し、または便宜を供与するなどの関係を有すること</span></li>
													<li class="non_count">⑤<span>役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること</span></li>
												</ol>
											</li>
											<li>利用者および当社は、前項の表明・確約に反して、相手方または相手方の役員もしくは相手方の従業員が暴力団員等あるいは前項各号の一にでも該当することが判明したときは、何らの催告をせず、本サービス提供契約を即時解除することができるものとします。</li>
											<li>前条第２項の規定は、前項により当社がサービス契約を解除した場合に準用されるものとします。</li>
										</ol>
									</li>
									<li class="">
										<label>第19条	準拠法、裁判管轄</label>
										<ol>
											<li>本規約は日本国の法律を準拠法とします。</li>
											<li>本規約または本サービスに関して紛争が生じた場合には、東京地方裁判所を第一審の専属的管轄裁判所とします。</li>
										</ol>
									</li>
									<li class="">
										<label>第20条	サポートサービス（サポート内容/対応時間）</label>
										<ol>
											<li>操作方法等の一般問い合わせについては、以下の通りとします。</li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>一般問い合わせは、メールでのみの受付となります。</span></li>
													<li class="non_count">（2）<span>メール受付時間は、24時間365日とします。</span></li>
													<li class="non_count">（3）<span>メール返信(対応) 平日（月～金、祝日および当社指定の休日を除く）10時から18時とし、18時以降に受信した問い合わせについては、翌営業日でのご返信となります。</span></li>
												</ol>
											</li>
											<li>システム障害等の技術的な問い合わせについては、以下の通りとします。</li>
											<li class="non_count">
												<ol>
													<li class="non_count">（1）<span>システム障害問い合わせは、メールでのみの受付となります。</span></li>
													<li class="non_count">（2）<span>メール受付時間は、24時間365日とします。</span></li>
													<li class="non_count">（3）<span>メール返信(対応) 平日（月～金、祝日および当社指定の休日を除く）10時から18時とし、18時以降に受信した問い合わせについては、翌営業日でのご返信となります。</span></li>
												</ol>
											</li>
										</ol>
									</li>
									<li class="">
										<label>第21条	障害監視/通知基準</label>
										<ol>
											<li>原則として、1分ごとに本サービスの提供環境に対して死活監視を行い、サーバパフォーマンス等を収集、集計します。</li>
											<li>障害が発生した場合は、原則として2時間以内にメールにて指定された連絡先に通知し、また、当社が運営・管理する”ウェブサイト”の適宜の場所に掲示致します。</li>
										</ol>
									</li>
									<li class="">
										<label>第22条	データバックアップ</label>
										<ol>
											<li>本サービスは、Amazon Relational Database Service RDS（以下、「Amazon RDS」といいます。）を利用して、バックアップします。</li>
											<li>データバックアップを取得する時間帯は、原則毎日3時から6時の時間帯に実施することとし、取得したバックアップは30世代管理します。</li>
										</ol>
									</li>
									<li class="">
										<label>第23条	データ通信上のセキュリティ及び推奨環境</label>
										<ol>
											<li>本サービスに対する全ての通信は、SSLによる256ビット暗号化通信を採用します。</li>
											<li>本サービスは次の環境による利用を推奨するものとします。推奨環境以外で動作不良その他の不備が起きた場合、当社は一切責任を負いません。</li>
											<li class="non_count">
												<ol>
													<li class="non_count mb-3">＜推奨環境＞</li>
													<li class="non_count">■PC</li>
													<li class="non_count">●WindowsOS</li>
													<li class="non_count">
														<div class="d-flex ml-4">
															<span>推奨ブラウザ：</span>
															<span>
																<span class="d-block">Google Chrome 最新Version</span>
																<span class="d-block">Microsoft Edge 最新Version</span>
															</span>
														</div>
													</li>
													<li class="non_count">●macOS 11.4.x 以上</li>
													<li class="non_count">
														<div class="d-flex ml-4">
															<span>推奨ブラウザ：</span>
															<span>
																<span class="d-block">Safari 最新Version</span>
																<span class="d-block">Google Chrome 最新Version</span>
															</span>
														</div>
													</li>
													<li class="non_count mb-3">※Google Chrome のダウンロードは、
														<a href="https://www.google.com/chrome" target="_blank" rel="noopener noreferrer">こちら</a>から行えます。
													</li>
													<li class="non_count">■スマートフォン</li>
													<li class="non_count">●iPhone（iOS 14.2 以上）</li>
													<li class="non_count">
														<div class="d-flex ml-4">
															<span>推奨ブラウザ：</span>
															<span>
																<span class="d-block">Safari</span>
															</span>
														</div>
													</li>
													<li class="non_count">●Android（Android 9.x 以上）</li>
													<li class="non_count">
														<div class="d-flex ml-4">
															<span>推奨ブラウザ：</span>
															<span>
																<span class="d-block">Google Chrome 87.x 以上</span>
															</span>
														</div>
													</li>
													
												</ol>
											</li>
										</ol>
									</li>
								</ul>
								<div class="">
									<div>以上</div>
									<div class="mt-2">制定日：2020年06月30日</div>
									<div class="mt-2">改定日：2022年08月03日</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  モーダルで使用するStyle  -->
			<th:block th:with="version=${@environment.getProperty('app.version')}">
				<link th:href="@{/css/terms.css?{ver}(ver=${version})}" rel="stylesheet" type="text/css"/>
			</th:block>

			<!--  モーダルで使用するScript  -->
			<script type="text/javascript">
			$(function(){
				$("#termsModal").on("show.bs.modal",function(){
					let modal = $("#termsModal");
					modal.find(".modalbody_terms").animate({scrollTop: 0}, "1");
				});
			});
			</script>
		</th:block>
		<!--  /** 利用規約モーダル */ -->
	</div>
</body>
</html>
