@charset "UTF-8";

/** css変数の定義 */
:root {
	--loioz-fn-color: #14171A;
}

html {
	font-size: 3.0vw !important;
}

/** 一般的なスマホは全て文字サイズを一定とする */
@media screen and (min-width:360px) and (max-width:480px) {
	html {
		font-size:calc(62.5% * 1.25)!important;
	}
}

body {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	font-size: 1.3rem;
}

a:active,
button:active,
*[role="button"]:active {
	opacity: 0.3!important;
}

textarea.form_txt {
  height: auto;
}

.form_txt {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #BCBCBC;
  padding: 4px 6px;
  text-align: left;
  line-height: 1.5;
  height:28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
}
.form_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/img/mark_select.svg);
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  text-align: left;
  vertical-align: middle;
}
.form_select::-ms-expand {
  display: none;
}
.form_select {
  border: 1px solid #BCBCBC;
  background-color: #fff;
  background-image: url(/img/mark_select.svg);
  padding: 5px 20px 4px 6px;
  height:28px;
}
.form_select[multiple] {
	background-image: none;
	padding: 4px 6px;
}

.smpflex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.smpflex_f1 {
  flex: 1;
}

.smart_globalHeader {
	border-top: 4px solid var(--loioz-blue);
	border-bottom: 1px solid #63595C;
	height: 13vmin;
	height: calc(var(--vmin, 1vmin) * 13);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #FFF;
}
.smart_globalHeader__title {
	width: 20%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-right: auto;
}
.smart_globalHeader__logo {
	width: 11vmin;
	height: 10vmin;
	background-image: url(../../img/icon_loioz.svg);
	background-repeat: no-repeat;
	background-position: 10px -50%;
	background-size: 12vmin;
}
.smart_globalHeader__name {
	font-weight: bold;
	font-size: 1.6rem;
	letter-spacing: 1px;
	color: #242424;
	padding-left: 15px;
	line-height: 1.1;
	margin-left: -5px;
}
.smart_globalHeader__navi {
}
.smart_globalHeader__navi_list {
	list-style: none;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
.smart_globalHeader__navi_list .is_mainmenu .smart_globalnavi_list_mark {
	background-image: url(../../img/icon_mainmenu_bar_wh.svg);
	background-size: 5vmin;
}
.smart_globalnavi_list_mark {
	display: inline-block;
	width: 8vmin;
	height: 8vmin;
	position: relative;
	background-color: #63595C;
	border-radius: 100px;
	vertical-align: middle;
}
.smart_globalHeader__navi_list .smart_globalnavi_list_mark {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.smart_gloval_menu {
	width: 85%;
	left: 15%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2001;
	position: fixed;
	background-color: #FCFAF9;
	border-top: 4px solid var(--loioz-blue);
	display: none;
}
.smart_gloval_menu_area {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: initial;
	padding:0 5px;
	overflow-y: auto;
}
.smart_gloval_menu_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	width: 100%;
	min-height: 13vmin;
	min-height: calc(var(--vmin, 1vmin) * 13 - 4px);
	border-bottom: 1px solid #63595c;
}
.smart_gloval_menu_header .logo {
	width: 30vmin;
	height: 10vmin;
	background-image: url(../../img/logo_1.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 30vmin;
	cursor: pointer;
}
.smart_gloval_menu_header .smart_headerMenu_btn_close {
	display: block;
	width: 8vmin;
	height: 8vmin;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
		border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 4vmin;
	background-image: url(../../img/icon_btn_close_wh.svg);
	background-color: #63595C;
}
.smart_gloval_menu_body {
	flex:1;
	text-align: left;
}
.smart_gloval_menu_body .link_area a {
	color: #63595C;
}
.smart_gloval_menu_body .sub_title {
	margin: .5rem 0 0 .5rem;
	font-size: .8rem;
	color: #63595C;
}
.smart_gloval_menu_body .search_area {
	width: 100%;
	padding: .5rem;
	border-bottom: 1px solid #63595c;
}
.smart_menu_search {
	width: 100%;
	height: 8vmin;
	background: transparent;
	border-radius: .2rem 0 0 .2rem;
	border: 1px solid #a3a3a3;
	font-size: 1.3rem;
	padding: 2px 10px 0 ;
}
.smart_menu_search_btn {
	width: 20%;
	height: 8vmin;
	border-color: #63595C;
	border-left: 0;
	border-radius: 0px .2rem .2rem 0px;
	background-color: #63595C;
	margin: 0;
	padding: 2px 0 0 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../../img/icon_btn_search_wh.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 5vmin;
}
.smart_gloval_menu_body .coming_soon {
	color: #007bff;
	font-size: 1.2rem;
}
.smart_gloval_menu_body .link_area {
	width: 100%;
	font-size: 1.4rem;
	border-bottom: 1px solid #63595c;
}
.smart_gloval_menu_body .link_area dl>dt {
	/* borderに小数点以下の値を設定するとき、
	heightにviewport値を設定するとIOSで正しく表示されないので注意 */
	display: flex;
	margin-top: 5px;
	padding: 5px 0 5px 10px;
	align-items: center;
	justify-content: space-between;
	line-height: 1.8;
	cursor: pointer;
}
.smart_gloval_menu_body .link_area dl>dt:not(:last-child) {
	border-bottom: 0.3px solid #63595C;
}
.smart_gloval_menu_body .link_area a {
	text-decoration: none;
}
.smart_gloval_menu_body .smart_globalnavi_list_mark {
	width: 8vmin;
	height: 8vmin;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
}
.smart_gloval_menu_body .smart_globalnavi_list_title {
	font-size: 1.45rem;
	color:var(--loioz-fn-color);
	vertical-align: middle;
	margin-left: 1rem;
}
.smart_gloval_menu_body .is_schedule .smart_globalnavi_list_mark {
	background-image: url(../../img/icon_schedule.svg);
	background-size: 5.5vmin;
}
.smart_gloval_menu_body .is_task .smart_globalnavi_list_mark {
	background-image: url(../../img/icon_task.svg);
	background-size: 5.0vmin;
}
.smart_gloval_menu_body .is_message .smart_globalnavi_list_mark {
	background-image: url(../../img/icon_message.svg);
	background-size: 5.5vmin;
}
.smart_gloval_menu_body .is_logout .smart_globalnavi_list_mark {
	background-image: url(../../img/icon_logout.svg);
	background-size: 7vmin;
}

.smart_gloval_menu_footer {
	display:flex;
	width: 100%;
	border-top: 1px solid #63595c;
}
.smart_gloval_menu_footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.smart_gloval_menu_footer a{
	display: inline-block;
	color: var(--loioz-fn-color);
}
.smart_gloval_menu_footer a::before{
	content: "▶";
	font-size: .8rem;
	color: var(--loioz-blue);
	vertical-align: text-top;
	margin-right: .5rem;
	display: inline-block;
}

.bg_smart_gloval_menu {
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 2000;
	background-color: rgba(0, 0, 0, 0.50);
	display: none;
}

/* 横向行き制御エリア */
#directionControll {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}
#directionControll>div {
	width: 100%;
	height: 100vh;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
}
#directionControll>div>* {
	color: #FFF;
	font-size: 0.8rem;
	margin: auto;
}
#directionControll[data-rotate="left"] .directionIcon {
	-webkit-animation: direction-transform-left 2s ease-in-out forwards; 
	animation: direction-transform-left 2s ease-in-out forwards; 
}
#directionControll[data-rotate="right"] .directionIcon {
	-webkit-animation: direction-transform-right 2s ease-in-out forwards; 
	animation: direction-transform-right 2s ease-in-out forwards; 
}

@-webkit-keyframes direction-transform-right {
	0% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
}

@keyframes direction-transform-right {
	0% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
}

@-webkit-keyframes direction-transform-left {
	0% {-webkit-transform: rotate(270deg);transform: rotate(270deg);}
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes direction-transform-left {
	0% {-webkit-transform: rotate(270deg);transform: rotate(270deg);}
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

.icon_msg_close {
	background-image: url("../../img/icon_msg_close.svg");
	background-repeat: no-repeat;
	background-size: 4vmin;
	width: 4vmin;
	height: 4vmin;
	margin-left: auto;
	position: unset;
}

.info_msg_edit {
	background-color: rgba(204,229,255,0.96);
	color: #004085;
	margin: 1rem 0.5rem;
	padding: .8rem 1rem .4rem 2.2rem;
	border-radius: unset;
	background-image: url(../../img/icon_info.svg);
	background-repeat: no-repeat;
	background-size: 5vmin;
	background-position: .4rem center;
	text-align: left;
	font-size: 1.3rem;
}
.warn_msg_edit {
	background-color: rgba(255,243,205,0.96);
	color: #856404;
	margin: 1rem 0.5rem;
	padding: .8rem 1rem .4rem 2.2rem;
	border-radius: unset;
	background-image: url(../../img/icon_warn.svg);
	background-repeat: no-repeat;
	background-size: 5vmin;
	background-position: .4rem center;
	text-align: left;
	font-size: 1.3rem;
}
.error_msg_edit {
	background-color: #FCD6D6;
	color: #9E0002;
	margin: 1rem 0.5rem;
	padding: .8rem 1rem .4rem 2.2rem;
	border-radius: unset;
	background-image: url(../../img/icon_error.svg);
	background-repeat: no-repeat;
	background-size: 5vmin;
	background-position: .4rem center;
	text-align: left;
	font-size: 1.3rem;
}
.error_mag_point {
	color: #9E0002;
	margin-top: .4rem;
	background-image: url(../../img/icon_error_s.svg);
	background-repeat: no-repeat;
	background-size: 4vmin;
	padding: 0 0 1px 1.5rem;
	line-height: 1.2;
	font-size: 1.0rem;
}
