<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="noLoginCommonLayout">
<head>
<title layout:fragment="title-contents">
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("権限がありません", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
</head>
<body>
	<main class="loioz_hp_contetns" layout:fragment="main-contents">
		<!--/* タイトル帯 */-->
		<div class="main_title">
			<div class="title_inner">
				<h1>アクセス権限がありません</h1>
			</div>
		</div>
		<!--/* タイトル帯 end */-->

		<!--/* section */-->
		<div class="section">
			<!--/* section_inner */-->
			<div class="section_inner">
				<h2 class="section_title">指定されたURLのアクセス権限がありません。</h2>
				<div class="section_content">
					<div class="text-center h2">
						<a id="logoutButton" href="javascript:void(0);" onclick="$('#logoutForm').submit();">ログイン画面へ</a>
						<form role="form" id="logoutForm" th:action="@{/user/logout}" method="post"></form>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
