<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="commonLayout">
<head>
<meta charset="UTF-8">
<title layout:fragment="title-contents">
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle(T(jp.loioz.common.constant.CommonConstant$AccountSettingMenu).MY_ACCOUNT_PASSWORD.getVal(), T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
<script type="text/javascript">
let ajaxRunning = false;

<!--/* アカウントパスワード編集フラグメントの取得 */-->
function getMyAccountPasswordInputFragment() {
	return new Promise((resolve, reject) => {
		$.ajax({
			url : '/user/myAccountPassword/getMyAccountPasswordInputFragment',
			type : "GET",
		}).done(function(data, status, jqXHR) {
			<!--/* 成功 */-->
			if (isAjaxProcSuccess(jqXHR)) {
				$('#myAccountPasswordFragmentWrap').html(data);
				return resolve();
			} else {
				// 処理失敗
				const errorMsg = getAjaxProcResutlMessage(jqXHR);
				showErrorMessageForJs(errorMsg);
				return reject();
			}
		}).fail(function(jqXHR, textStatus, errorThrown) {
			<!--/* 失敗 */-->
			const errorMsg = /*[[#{E00091}]]*/ "error";
			showErrorMessageForJs(errorMsg);
			return reject();
		});
	});
}
</script>
</head>
<body>
	<div class="contents_sidebar_wrapper_setting" layout:fragment="main-contents">
		<!-- サイドメニュー -->
		<div th:replace="common/accountSettingMenu::selectMenu(${T(jp.loioz.common.constant.CommonConstant$AccountSettingMenu).MY_ACCOUNT_PASSWORD.getCd()})"></div>
		
		<!--/* メインコンテンツの外側 */-->
		<div class="contents_wrapper">
			<div class="container-fluid contents_limited_width_setting">
				<main class="content">
					
					<!--/* メッセージエリア */-->
					<div th:replace="common/messageArea::messageArea"></div>
					
					<!--/* パンくず*/-->
					<div class="breadcrumb_area">
						<ul>
							<li><span>個人設定</span></li>
							<li><i class="fas fa-angle-right"></i></li>
							<li>パスワード変更</li>
						</ul>
					</div>
					
					<!--/* 詳細 */-->
					<div id="myAccountPasswordFragmentWrap" th:insert="user/myAccountPassword/myAccountPasswordFragment::myAccountPasswordInputFragment(${accountPassWordInputForm})"></div>
					
				</main>
			</div>
		</div>
	</div>
</body>
</html>
