<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="commonLayout">
<head>
	<meta charset="utf-8" />
</head>
<body>

<!--/* 詳細データ */-->
<div th:fragment="myAccountPasswordInputFragment(accountPassWordInputForm)" id="myAccountPasswordInputFragment" th:object="${accountPassWordInputForm}">
	<script type="text/javascript" th:inline="javascript">
	$(function() {
		
		<!--/* 定数 */-->
		const myAccountPasswordFragmentWrap = $('#myAccountPasswordFragmentWrap');
		const myAccountPasswordInputFragment = $('#myAccountPasswordInputFragment');
		
		<!--/* 共有の要素セットアップ処理 */-->
		commonSetUpElement("#myAccountPasswordInputFragment");
		
		<!--/* パスワードの目 */-->
		myAccountPasswordInputFragment.find('.toggle-password-display').on("click", function() {
			let passwordForm = $(this).closest(".password-container").find("input");
			let toggleButton = $(this);
			if (passwordForm.attr("type") == "password") {
				passwordForm.attr("type", "text");
				toggleButton
				.find(".fa-eye").addClass("hidden").end()
				.find(".fa-eye-slash").removeClass("hidden");
			} else {
				passwordForm.attr("type", "password");
				toggleButton
				.find(".fa-eye-slash").addClass("hidden").end()
				.find(".fa-eye").removeClass("hidden");
		}});
		
		<!--/* 保存処理 */-->
		myAccountPasswordInputFragment.find('#savePassword').on('click', function() {
			if (ajaxRunning) {
				return false;
			}
			
			const formData = myAccountPasswordInputFragment.find('#passwordDataForm').serializeArray();
			ajaxRunning = true;
			
			Promise.resolve(formData)
				.then((params) => {
					return new Promise((resolve, reject) => {
						$.ajax({
							type : "POST",
							url : "/user/myAccountPassword/savePassWord",
							data : params,
						}).done(function(data, status, jqXHR) {
							if (isAjaxProcSuccess(jqXHR)) {
								showInfoMessageForJs(getAjaxProcResutlMessage(jqXHR));
								return resolve();
							} else {
								if (data) {
									myAccountPasswordFragmentWrap.html(data);
								}
								// 処理失敗
								const errorMsg = getAjaxProcResutlMessage(jqXHR);
								showErrorMessageForJs(errorMsg);
								return reject(errorMsg);
							}
						}).fail(function(jqXHR, textStatus, errorThrown) {
							<!--/* 失敗 */-->
							const errorMsg = /*[[#{E00091}]]*/ "error";
							showErrorMessageForJs(errorMsg);
							return reject(errorMsg);
						});
					});
				})
				.then(getMyAccountPasswordInputFragment)
				.catch((errors) => console.log(errors))
				.finally(() => ajaxRunning = false);
		});
	});
	</script>
	
	<!--/* コンテンツブロック start */-->
	<div class="contents_block">
	
		<!--/* パスワード変更 */-->
		<form id="passwordDataForm">
			<div class="block_title">パスワード変更</div>
			<div class="block_detail">
				ログインパスワードを変更します。
			</div>
			
			<!--/* 入力エリア */-->
			<div class="detail_input_area">
				
				<!--/* 現在のパスワード */-->
				<div class="form-row">
					<div class="form-group col-md-12 mb-0">
						<label class="input_parts_label">現在のパスワード</label>
					</div>
					<div class="form-group col-md-3">
						<div class="password-container d-flex">
							<input type="password" class="form-control input_half" th:field="*{oldPassword}"  maxlength="30" th:autocomplete="off" placeholder="現在のパスワード">
							<div class="input-group-append">
								<button class="toggle-password-display btn btn-light btn-sm btn_icon_only ml-2" type="button">
									<i class="far fa-eye"></i>
									<i class="far fa-eye-slash hidden"></i>
								</button>
							</div>
						</div>
						<div th:if="*{#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="error_mag_point">error</div>
						<div class="input_nav">
							<p>確認のため、現在設定されているパスワードを入力してください。</p>
						</div>
					</div>
				</div>

				<!--/* 新しいパスワード */-->
				<div class="form-row">
					<div class="form-group col-md-12 mb-0">
						<label class="input_parts_label">新しいパスワード</label>
					</div>
					<div class="form-group col-md-3">
						<div class="password-container d-flex">
							<input type="password" class="form-control input_half" th:field="*{password.password}" maxlength="30" th:autocomplete="off">
							<div class="input-group-append">
								<button class="toggle-password-display btn btn-light btn-sm btn_icon_only ml-2" type="button">
									<i class="far fa-eye"></i>
									<i class="far fa-eye-slash hidden"></i>
								</button>
							</div>
						</div>
						<div th:if="*{#fields.hasErrors('password')}" th:errors="*{password}" class="error_mag_point">error</div>
						<div th:if="*{#fields.hasErrors('password.password')}" th:errors="*{password.password}" class="error_mag_point">error</div>
						<div class="input_nav">
							<p>8文字以上で半角英数字を含めて作成してください。</p>
						</div>
					</div>
				</div>

				<!--/* 新しいパスワード（確認用） */-->
				<div class="form-row">
					<div class="form-group col-md-12 mb-0">
						<label class="input_parts_label">新しいパスワード（確認用）</label>
					</div>
					<div class="form-group col-md-3">
						<div class="password-container d-flex">
							<input type="password" class="form-control input_half" th:field="*{password.confirm}" maxlength="30" th:autocomplete="off">
							<div class="input-group-append">
								<button class="toggle-password-display btn btn-light btn-sm btn_icon_only ml-2" type="button">
									<i class="far fa-eye"></i>
									<i class="far fa-eye-slash hidden"></i>
								</button>
							</div>
						</div>
						<div th:if="*{#fields.hasErrors('password')}" th:errors="*{password}" class="error_mag_point">error</div>
						<div th:if="*{#fields.hasErrors('password.confirm')}" th:errors="*{password.confirm}" class="error_mag_point">error</div>
						<div class="input_nav">
							<p>確認のため、新しいパスワードを再度入力してください。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="input_block_btn_area">
				<button type="button" id="savePassword" class="btn btn-info"><i class="fas fa-check"></i>変更する</button>
			</div>

		</form>
		<!--/* パスワード変更 end */-->
	</div>
</div>
</body>
</html>
