<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorator="commonLayout">
<head>
<meta charset="utf-8" />
	<script type="text/javascript" th:fragment ="gyomuHisoryEditByAnkenJs" th:inline = "javascript">
	$(function(){
		
		benzo.global.gyomuHistoryEdit = {anken : {
			ajaxRunning : false,
		}};
		
		<!--/* 業務履歴の登録・編集・削除 */-->
		benzo.global.gyomuHistoryEdit.anken.saveAction = function(modal, path, params) {
			if(benzo.global.gyomuHistoryEdit.anken.ajaxRunning){
				return false;
			}
			benzo.global.gyomuHistoryEdit.anken.ajaxRunning = true;
			$.ajax({
				url : path,
				type : "POST",
				data : params,
			}).done(function(result) {
				if(result.succeeded){
					alert(result.message);
					location.reload();
				} else {
					showErrorMessage(result.message, modal, result.errors);
				}
			}).fail(function(jqXHR, textStatus, errorThrown) {
				window.location.href = "/systemError";
			}).always(function() {
				benzo.global.gyomuHistoryEdit.anken.ajaxRunning = false;
			});
		}
		
		<!-- /* モーダル表示処理 */ -->
		$(document).on("click",".openGyomuHistoryModal", function(){

			let path = "/user/gyomuHistory";
			let gyomuHistorySeq = $(this).attr("data-gyomu_history_seq");
			let ankenId = $(this).attr('data-anken_id');
			let customerId = $(this).find(".transitionId").attr("data-customer-id");
			
			let form = {
				"gyomuHistorySeq" : gyomuHistorySeq,
				"ankenId" : ankenId,
				"customerId" : customerId
			}

			/*
			この顧客IDは登録されている業務履歴が顧客軸から登録された場合のみデータが取得できる想定
			顧客軸から登録されたものは顧客軸のモーダルを表示する。
			*/
			if(customerId){
				path += "/customer"
			}else{
				path +="/anken";
			}

			if(gyomuHistorySeq){
				path += "/edit";
			}else{
				path += "/create";
			}
			$.ajax({
				url : path,
				type : "POST",
				data :form,
			}).done(function(val) {
				// モーダルの表示
				const newContents = $(val);
				$('.targetGyomuHistoryModalBody').html(newContents);
				
				// datepickerの設定 
				newContents.find(".btn_popcal").each((i,btn) => setUpDatepickerButton($(btn)));
			}).fail(function(jqXHR, textStatus, errorThrown) {
				window.location.href = "/error";
			}).always(function() {
			});
		});

		<!-- /* 登録処理 */ -->
		$(document).on("click",".targetGyomuHistoryModalBody button[name='regist']", function(){

			let path = "/user/gyomuHistory/anken/regist";
			let modal = $(this).closest('.modal');
			let params = $(modal).find("#inputForm").serializeArray();

			benzo.global.gyomuHistoryEdit.anken.saveAction(modal, path, params);
		});

		<!-- /* 更新処理 */ -->
		$(document).on("click",".targetGyomuHistoryModalBody button[name='update']", function(){

			let path = "/user/gyomuHistory";
			let modal = $(this).closest('.modal');
			let params = $(modal).find("#inputForm").serializeArray();

			/*<![CDATA[*/
			if(modal.find(".select-modal").attr("data-transition_type") ==/*[[${T(jp.loioz.common.constant.CommonConstant$TransitionType).CUSTOMER}]]*/null){
				path += "/customer/update";
			}else{
				path += "/anken/update";
			}
			/*]]>*/

			benzo.global.gyomuHistoryEdit.anken.saveAction(modal, path, params);
		});

		<!-- /* ステータス更新処理 */ -->
		$(document).on("click",".targetGyomuHistoryModalBody button[name='updateStatus']", function(){

			let path = "/user/gyomuHistory";
			let modal = $(this).closest('.modal');
			let params = $(modal).find("#inputForm").serializeArray();

			/*<![CDATA[*/
			if(modal.find(".select-modal").attr("data-transition_type") ==/*[[${T(jp.loioz.common.constant.CommonConstant$TransitionType).CUSTOMER}]]*/null){
				path += "/customer/updateStatus";
			}else{
				path += "/anken/updateStatus";
			}
			/*]]>*/

			benzo.global.gyomuHistoryEdit.anken.saveAction(modal, path, params);
		});

		<!-- /* 削除処理 */ -->
		$(document).on("click",".targetGyomuHistoryModalBody button[name='delete']", function(){

			if(!window.confirm("紐づいているすべての顧客、案件から削除されます\nよろしいですか？")){
				return false;
			}

			let path = "/user/gyomuHistory";
			let modal = $(this).closest('.modal');
			let params = $(modal).find("#inputForm").serializeArray();

			/*<![CDATA[*/
			if(modal.find(".select-modal").attr("data-transition_type") ==/*[[${T(jp.loioz.common.constant.CommonConstant$TransitionType).CUSTOMER}]]*/null){
				path += "/customer/delete";
			}else{
				path += "/anken/delete";
			}
			/*]]>*/

			benzo.global.gyomuHistoryEdit.anken.saveAction(modal, path, params);
		});

	});
	</script>
	<style th:inline="css" type="text/css" th:fragment="gyomuHisoryEditByAnkenStyle">
		.disabled_border{
			border : none!important;
		}
	</style>
</head>
<body>
	<div th:fragment="select-modal" th:object="${gyomuHistoryEditByAnkenViewForm}"
			th:id="*{isNew()} ? 'gyomuHistoryCreateByAnkenModal' : 'gyomuHistoryEditByAnkenModal'"
			class="select-modal" th:data-transition_type=*{inputForm.transitionType}>
		<div class="viewFormContent">
			<form id="inputForm" th:autocomplete="off">
				<input type="hidden" th:field="*{gyomuHistorySeq}">
				<input type="hidden" th:field="*{ankenId}">
				<input type="hidden" th:field="*{inputForm.gyomuHistorySeq}">
				<input type="hidden" th:field="*{inputForm.ankenId}">
				<div class="modal-header">
					<h2 class="modalheader_title" th:text="*{isNew()} ? '業務履歴登録' : '業務履歴編集'">header_title</h2>
					<ul class="navi_list mt-0">
						<li>
							<label class="checkbox_btn ml-4">
							<input type="checkbox" class="checkbox_input" th:field ="*{inputForm.Important}">
							<span class="checkbox_txt">重要</span> </label>
							<div class="error_mag_point hidden" id="itemMsg_imputForm.Important"></div>
						</li>
						<li>
							<label class="checkbox_btn ml-4">
							<input type="checkbox" class="checkbox_input" th:field ="*{inputForm.Kotei}" />
							<span class="checkbox_txt">固定</span> </label>
							<div class="error_mag_point hidden" id="itemMsg_inputForm.Kotei"></div>
						</li>
					</ul>
				</div>
				<div class="modal-body">
					<div th:replace="common/messageArea::jsMessageArea"></div>
					<!--/* 入力エリア */-->
					<div class="modal_input_area">
						<!--/* 対応日時 */-->
						<div class="form-row">
							<div class="form-group col-md-12">
								<label class="input_parts_label">対応日時</label>
								<span class="mark_equired">必須</span>
								<div class="d-flex">
									<input type="text" class="form-control digit7 inputDateSlash mr-2" th:field="*{inputForm.supportedDate}" th:disabled="*{inputForm.SentDengon}" data-click-sync="[data-target-name='inputForm.supportedDate']" />
									<button type="button" class="btn btn_popcal hidden" data-toggle="datepicker" data-target-name="inputForm.supportedDate" th:disabled="*{inputForm.SentDengon}">カレンダー</button>
									<input type="time" class="form-control digit6" th:field="*{inputForm.supportedTime}" th:disabled="*{inputForm.SentDengon}">
								</div>
								<div class="error_mag_point hidden" id="itemMsg_inputForm.supportedDate"></div>
								<div class="error_mag_point hidden" id="itemMsg_inputForm.supportedTime"></div>
							</div>
						</div>
						<!--/* 関連フラグ */-->
						<div class="form-row">
							<div class="form-group col-md-12 mb-2">
								<label class="input_parts_label">関連フラグ</label>
								<div class="row row_list">
									<div class="pt-2">
										<i class="far fa-user mr-2"></i>顧客情報
										<div class="mt-2">
											<label class="checkbox_btn relation_flg" th:each=" customer : *{customerInfo}">
												<input type="checkbox" class="checkbox_input" th:disabled="*{inputForm.SentDengon}"
													th:value="${customer.customerId}" name="inputForm.customerIdList" th:checked="${#lists.contains(gyomuHistoryEditByAnkenViewForm.inputForm.customerIdList,customer.customerId)}" />
												<span class="checkbox_txt" th:text ="${customer.customerName}"></span>
												<span class="checkbox_txt" th:text ="|(名-${customer.customerId})|"></span>
											</label>
										</div>
										<div class="error_mag_point hidden" id="itemMsg_inputForm.customerIdList"></div>
									</div>
									<div class="col-auto pt-2">
										<i class="fas fa-gavel reverses_text mr-2"></i>裁判情報
										<div class="mt-2">
											<select class="form-control" th:if="!*{saibanSelectBox.isEmpty()}" th:field="*{inputForm.saibanSeq}" th:disabled="*{inputForm.SentDengon}"
												th:with="caseNoMaxlength=30">
												<option value="">-</option>
												<option th:each="option : *{saibanSelectBox}"
													th:value = "${option.value}" th:label="${#strings.length(option.label)} > ${caseNoMaxlength} ? ${#strings.substring(option.label, 0, caseNoMaxlength)} + '...' : ${option.label}">裁判情報</option>
											</select>
											<span class="text-danger small text-nowrap" id="itemMsg_inputForm.saibanSeq"></span>
											<div th:if="*{saibanSelectBox.isEmpty()}" class="text-danger">現在、この案件に紐づいている裁判はありません</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--/* 件名 */-->
						<div class="form-row">
							<div class="form-group col-md-12">
								<label class="input_parts_label">件名</label>
								<span class="mark_equired">必須</span>
								<input type="text" maxlength="30" class="form-control" th:field="*{inputForm.subject}" th:disabled="*{inputForm.SentDengon}" />
								<div class="error_mag_point hidden" id="itemMsg_inputForm.subject"></div>
							</div>
						</div>
						<!--/* 内容 */-->
						<div class="form-row">
							<div class="form-group col-md-12">
								<label class="input_parts_label">内容</label>
								<textarea class="form-control" rows="11" th:field="*{inputForm.mainText}" th:disabled="*{inputForm.SentDengon}" maxlength="10000"></textarea>
								<div class="error_mag_point hidden" id="itemMsg_inputForm.mainText"></div>
							</div>
						</div>
						<!--/* 登録・更新 */-->
						<div class="form-row">
							<div class="form-group col-md-6" th:if="*{inputForm.createDate}">
								<label class="input_parts_label">登録者</label>
								<div>
									<span th:text="*{inputForm.createrName}">登録者名</span>
									<span th:text="*{#temporals.format(inputForm.createDate,'yyyy/MM/dd HH:mm')}">登録日</span>
								</div>
							</div>
							<div class="form-group col-md-6" th:if="*{inputForm.updateDate}">
								<label class="input_parts_label">更新者</label>
								<div>
									<span th:text="*{inputForm.updaterName}">登録者名</span>
									<span th:text="*{#temporals.format(inputForm.updateDate,'yyyy/MM/dd HH:mm')}">登録日</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<th:block th:if="!*{gyomuHistorySeq}">
						<button type="button" class="btn btn-info" name="regist"><i class="fas fa-check"></i>登録</button>
					</th:block>
					<th:block th:if="*{gyomuHistorySeq} AND *{inputForm.SentDengon}">
						<button type="button" class="btn btn-info" name="updateStatus"><i class="fas fa-check"></i>保存</button>
					</th:block>
					<th:block th:if="*{gyomuHistorySeq} AND *{!inputForm.SentDengon}">
						<button type="button" class="btn btn-light mr-auto" name="delete"><i class="far fa-trash-alt"></i>削除</button>
						<button type="button" class="btn btn-info" name="update"><i class="fas fa-check"></i>保存</button>
					</th:block>
					<button type="button" class="btn btn-light" name="cancel" data-dismiss="modal"><i class="fas fa-times"></i>閉じる</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>