<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="noLoginCommonLayout">
<head>
<title layout:fragment="title-contents">
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("認証エラー", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
</head>
<body>
	<main class="loioz_hp_contetns" layout:fragment="main-contents">
		<!--/* タイトル帯 */-->
		<div class="main_title">
			<div class="title_inner">
				<h1>認証エラー</h1>
			</div>
		</div>
		<!--/* タイトル帯 end */-->

		<!--/* section */-->
		<div class="section">
			<!--/* section_inner */-->
			<div class="section_inner" >
				<h2 class="section_title" th:if="${errorMsg}!=null" myth:nl2br="${errorMsg}"></h2>
			</div>
		</div>
		<!--/* section end */-->

	</main>
</body>
</html>