<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="noLoginCommonLayout">
<head>
<title layout:fragment="title-contents">
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("パスワードリセット申込み", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
</head>
<body class="body_one_block">
	<!--/* ヘッダーなし */-->
	<header layout:fragment="header-contents" th:remove="all"></header>

	<main layout:fragment="main-contents">

		<!--/* パスワードリセット */-->
		<div class="password_reset_form">

			<div class="loioz_logo">
				<img th:src="@{/img/logo_1.png}">
			</div>

			<form th:action="@{/user/passwordForgetRequest/form}" th:object="${passwordForgetRequestForm}" method="post">

				<!--/* パスワードリセット */-->
				<div class="card">
					<div class="card-header d-flex">
						<div class="card_title">パスワードリセット申込み</div>
					</div>

					<!--/* card-body */-->
					<div class="card-body">
						<h4 class="card-title">
							パスワードリセットします。<br>
							本人確認のため、アカウントIDを入力してください。
						</h4>
						<div class="detail_input_area">
							<!--/* アカウントID */-->
							<div class="form-row">
								<div class="input_parts form-group col-md-12">
									<label>アカウントID</label>
									<input type="text" class="form_userid form-control" th:classappend="${#fields.hasErrors('accountId')} ? 'is-invalid'"
										th:field="*{accountId}" placeholder="アカウントIDを入力してください" th:autocomplete="off" autofocus>
									<!--/* エラーメッセージ */-->
									<div class="invalid-feedback error_mag_point d-flex" th:errors="*{accountId}"></div>
									<div class="input_nav">
										<p>※アカウントIDにメールアドレスのご登録がない場合は、</p>
										<p class="ml-3">本機能を利用することができません。</p>
										<p class="ml-3">事務所のシステム管理者までお問い合わせください。</p>
									</div>
								</div>
							</div>
							<!--/* アカウントID end */-->
						</div>

						<div class="form_action">
							<button type="submit" name="request" class="btn btn-primary">パスワードリセット申請</button>
						</div>
					</div>
					<!--/* card-body end */-->

					<div class="card-footer">
						<a th:href="@{/user/login/}"><i class="fas fa-reply mr-3"></i>ログイン画面に戻る</a>
					</div>

				</div>
			</form>
		</div>
	</main>
</body>
</html>
