<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="noLoginCommonLayout">
<head>
<title layout:fragment="title-contents">
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("パスワードリセット", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
<script type="text/javascript">
	$(function() {
		$(document).on("click", ".toggle-password-display", function() {
			let passwordForm = $(this).closest(".password-container").find("input");
			let toggleButton = $(this);
			if (passwordForm.attr("type") == "password") {
				passwordForm.attr("type", "text");
				toggleButton
					.find(".fa-eye").addClass("hidden").end()
					.find(".fa-eye-slash").removeClass("hidden");
			} else {
				passwordForm.attr("type", "password");
				toggleButton
					.find(".fa-eye-slash").addClass("hidden").end()
					.find(".fa-eye").removeClass("hidden");
			}
		});

		let ajaxRunning = false;
		$(document).on("click", "#changeButton", function() {
			if(ajaxRunning){
				return false;
			}
			const formData = $("#changeForm").serializeArray();
			const password = $(document).find("[name='password.password']").val();

			ajaxRunning = true;
			$.ajax({
				type : "POST",
				url : "/user/passwordForgetRequest/form",
				data : formData,
			}).done(function(val) {
				// 通信成功時
				let newContents = $(val);
				if (newContents.is("#passwordChangeContents")) {
					// パスワード変更画面
					$("#passwordChangeContents").replaceWith(newContents);
				} else if (newContents.is("#passwordChangeLoginForm")){
					// パスワード変更完了
					alert("パスワードを変更しました");
					$("#ajaxContents").html(newContents);
					$("#loginForm").find("[name='password']").val(password);
					$("#loginForm").submit();
				} else {
					// その他エラー
					window.location.href = "/systemError";
				}
			}).fail(function(jqXHR, textStatus, errorThrown) {
				// 通信失敗時
				window.location.href = "/systemError";
			}).always(function() {
				// 通信成功と失敗のどちらも
				ajaxRunning = false;
			});
		});
	});
</script>
</head>
<body class="body_one_block">
	<!--/* ヘッダーなし */-->
	<header layout:fragment="header-contents" th:remove="all"></header>

	<main layout:fragment="main-contents">

		<!--/* パスワードリセット */-->
		<div class="password_reset_form">

			<div class="loioz_logo">
				<img th:src="@{/img/logo_1.png}">
			</div>

			<!--/* パスワードリセット */-->
			<div class="card"  id="ajaxContents">
				<div class="card-header d-flex">
					<div class="card_title">パスワードリセット</div>
				</div>

				<!--/* card-body */-->
				<div class="card-body" id="passwordChangeContents" th:fragment="passwordChangeContents">
					<h4 class="card-title">
						新しいパスワードを入力し、手続きを完了してください。<br>
						※リンクの有効期間はメール発行より24時間以内です。
					</h4>
					<div class="detail_input_area">
						<form id="changeForm" th:action="@{/user/passwordForgetRequest/form}" th:object="${passwordChangeForm}" method="post">

							<!--/* アカウントID */-->
							<div class="form-row">
								<div class="form-group col-md-12">
									<label class="input_parts_label">アカウントID</label>
									<div class="form_userid" th:text="${accountId}"></div>
								</div>
							</div>

							<!--/* パスワード */-->
							<div class="form-row">
								<div class="form-group col-md-12">
									<label class="input_parts_label">パスワード</label>
									<div class="form-inline password-container">
										<input type="password" class="form-control input_half col-5" th:field="*{password.password}" maxlength="30" autocomplete="new-password"
											th:classappend="${#fields.hasErrors('password.password') or #fields.hasErrors('password')} ? 'is-invalid'">
										<div class="input-group-append">
											<button class="toggle-password-display btn btn-light btn-sm btn_icon_only ml-2" type="button">
												<i class="far fa-eye"></i>
												<i class="far fa-eye-slash hidden"></i>
											</button>
										</div>
									</div>
									<div th:if="${#fields.hasErrors('password.password')}" th:errors="*{password.password}" class="error_mag_point">error!</div>
									<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error_mag_point">error!</div>
									<div class="input_nav">※半角英数字8桁以上でご入力ください。</div>
								</div>
							</div>
							<!--/* パスワード end */-->

							<!--/* パスワード確認用 */-->
							<div class="form-row">
								<div class="form-group col-md-12">
									<label class="input_parts_label">パスワード確認用</label>
									<div class="form-inline password-container">
										<input type="password" class="form-control input_half col-5" th:field="*{password.confirm}"
											th:classappend="${#fields.hasErrors('password.confirm')} ? 'is-invalid'"
											autocomplete="new-password" maxlength="30" required>
										<div class="input-group-append">
											<button class="toggle-password-display btn btn-light btn-sm btn_icon_only ml-2" type="button">
												<i class="far fa-eye"></i>
												<i class="far fa-eye-slash hidden"></i>
											</button>
										</div>
									</div>
									<div th:if="${#fields.hasErrors('password.confirm')}" th:errors="*{password.confirm}" class="error_mag_point">error!</div>
								</div>
							</div>
							<!--/* パスワード確認用 end */-->
							<div class="form_action">
								<button type="button" class="btn btn-info" id="changeButton">
									<i class="fas fa-check"></i>パスワード変更
								</button>
							</div>
							<input type="hidden" name="key" th:value="*{key}">
							<input type="hidden" name="change" value="">
						</form>
					</div>
				</div>
				<!--/* card-body end */-->
			</div>
			<!--/* パスワードリセット end */-->

		</div>
	</main>
</body>
</html>