<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="noLoginCommonLayout">
<head>
<title layout:fragment="title-contents">
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("パスワード変更", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
</head>
<body class="body_one_block">
	<!--/* ヘッダーなし */-->
	<header layout:fragment="header-contents" th:remove="all"></header>

	<main layout:fragment="main-contents">

		<!--/* パスワード変更 */-->
		<div class="password_reset_form">

			<div class="loioz_logo">
				<img th:src="@{/img/logo_1.png}">
			</div>

			<div class="card" th:fragment="login-form" id="passwordChangeLoginForm">
				<div class="card-header d-flex">
					<div class="card_title">パスワード変更</div>
				</div>
				<!--/* card-body */-->
				<div class="card-body">
					<h4 class="card-title">
						ただいま処理中です。しばらくお待ち下さい...
					</h4>
				</div>
				<form id="loginForm" th:action="@{/spring_security_login}" method="post">
					<input type="hidden" name="username" th:value="${accountId}">
					<input type="hidden" name="password" value="">
				</form>
			</div>
		</div>
		<!--/* パスワード変更 end */-->

	</main>
</body>
</html>
