<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="noLoginCommonLayout">
<head>
<title layout:fragment="title-contents">
	[[${T(jp.loioz.common.utility.LoiozUtils).getHtmlTitle("パスワードリセット", T(jp.loioz.common.utility.SessionUtils).getTenantName())}]]
</title>
</head>
<body class="body_one_block">
	<!--/* ヘッダーなし */-->
	<header layout:fragment="header-contents" th:remove="all"></header>

	<main layout:fragment="main-contents">

		<!--/* パスワードリセット */-->
		<div class="password_reset_form">

			<div class="loioz_logo">
				<img th:src="@{/img/logo_1.png}">
			</div>

			<!--/* パスワードリセット申請 完了 */-->
			<div class="card">
				<div class="card-header d-flex">
					<div class="card_title">パスワードリセット申込み 完了</div>
				</div>

				<!--/* card-body */-->
				<div class="card-body">
					<h4 class="card-title">ご登録されているメールアドレス宛にメールを送信いたしました。メールの内容に従い、お手続きを完了してください。</h4>
					<div>
						※不明な場合は、事務所の管理者の方にお問い合わせ下さい。
					</div>
				</div>

			</div>
			<!--/* パスワードリセット申請 完了 end */-->

		</div>
	</main>
</body>
</html>